<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="en">


<head th:replace="~{user/fragments/head :: head}"></head>

<body>

<header th:replace="~{user/fragments/header :: header}"></header>

<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">Trang chủ</a></li>
                        <li>/</li>
                        <li>Giới thiệu</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!--about section area -->
<div class="about_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about_content">
                    <h1>Chào mừng đến với Cửa hàng Reid!</h1>
                    <p>Một thực tế đã được chứng minh từ lâu là người đọc sẽ bị phân tâm bởi nội dung dễ đọc của một trang khi nhìn vào bố cục của nó. Điểm mấu chốt của việc sử dụng Lorem Ipsum là nó có sự phân bố các chữ cái gần như chuẩn mực,</p>
                    <p>Lorem Ipsum đơn giản là một đoạn văn bản giả của ngành in ấn và sắp chữ. Lorem Ipsum đã trở thành văn bản giả chuẩn mực của ngành công nghiệp này kể từ những năm 1500, khi một thợ in vô danh lấy một galley chữ và xáo trộn nó để tạo ra một cuốn sách mẫu chữ.</p>
                    <div class="view__work">
                        <a href="#">xem tác phẩm </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about_thumb">
                    <img th:src="@{fe/img/about/about1.jpg}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--about section end-->


<!--counterup area -->
<div class="counterup_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single_counterup">
                    <div class="counter_img">
                        <img th:src="@{fe/img/about/count.png}" alt="">
                    </div>
                    <div class="counter_info">
                        <h2 class="counter_number">2170</h2>
                        <p>khách hàng hài lòng</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single_counterup count-two">
                    <div class="counter_img">
                        <img th:src="@{fe/img/about/count2.png}" alt="">
                    </div>
                    <div class="counter_info">
                        <h2 class="counter_number">8080</h2>
                        <p>GIẢI THƯỞNG đã giành được</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single_counterup">
                    <div class="counter_img">
                        <img th:src="@{fe/img/about/count3.png}" alt="">
                    </div>
                    <div class="counter_info">
                        <h2 class="counter_number">2150</h2>
                        <p>GIỜ LÀM VIỆC</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single_counterup count-two">
                    <div class="counter_img">
                        <img th:src="@{fe/img/about/count4.png}" alt="">
                    </div>
                    <div class="counter_info">
                        <h2 class="counter_number">2170</h2>
                        <p>DỰ ÁN HOÀN CHỈNH</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--counterup end-->

<!--about progress bar -->
<div class="about_progressbar">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="progressbar_inner">
                    <h2>Chúng tôi có kỹ năng để thể hiện</h2>
                    <div class="progress_skill one">
                        <div class="progress">
                            <div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".3s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                <span class="progress_persent">html/css</span>
                            </div>
                        </div>
                        <span class="progress_discount">60%</span>
                    </div>
                    <div class="progress_skill two">
                        <div class="progress">
                            <div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">

                                <span class="progress_persent">chủ đề thương mại điện tử </span>
                            </div>

                        </div>
                        <span class="progress_discount">90%</span>
                    </div>
                    <div class="progress_skill three">
                        <div class="progress">
                            <div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".7s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">

                                <span class="progress_persent">Kiểu chữ </span>
                            </div>

                        </div>
                        <span class="progress_discount">70%</span>
                    </div>
                    <div class="progress_skill four">
                        <div class="progress">
                            <div class="progress-bar about_prog wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".7s" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">

                                <span class="progress_persent">Xây dựng thương hiệu  </span>
                            </div>

                        </div>
                        <span class="progress_discount">80%</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="about__img">
                    <img th:src="@{fe/img/about/about2.jpg}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--about progress bar end -->


<!--footer area start-->
<footer th:replace="~{user/fragments/footer :: footer}"></footer>
<!--footer area end-->


<script th:src="@{/fe/js/plugins.js}"></script>
<script th:src="@{/fe/js/main.js}"></script>
<script th:src="@{/js/chatbot.js}"></script>


</body>
</html>