<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="en">


<head th:replace="~{user/fragments/head :: head}"></head>

<body>

<header th:replace="~{user/fragments/header :: header}"></header>

<!--breadcrumbs area start-->
<div class="breadcrumbs_area other_bread">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">Trang chủ</a></li>
                        <li>/</li>
                        <li>Tin tức</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!--blog body area start-->
<div class="blog_area blog_page blog_reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12">
                <!--blog sidebar start-->
                <aside class="blog_sidebar">
                    <!--search form start-->
                    <div class="sidebar_widget search_form">
                        <form action="#">
                            <input placeholder="Tìm kiếm..." type="text">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!--search form end-->

                    <!--categories start-->
                    <div class="sidebar_widget widget_categories">
                        <h3 class="widget_title">Danh mục</h3>
                        <ul>
                            <li><a href="#">Sáng tạo</a>  (2)</li>

                            <li><a href="#">Thời trang</a> (3)</li>
                            <li><a href="#">Hình ảnh</a> (1)</li>
                            <li><a href="#">Nhiếp ảnh</a> (4)</li>
                            <li><a href="#">Du lịch</a> (6)</li>
                            <li><a href="#">Video</a> (2)</li>
                            <li><a href="#">WordPress</a> (4)</li>
                        </ul>
                    </div>
                    <!--categories end-->

                    <!--recent post start-->
                    <div class="sidebar_widget recent_post">
                        <h3 class="widget_title">Bài viết gần đây</h3>
                        <div class="sidebar_post">
                            <div class="post_img">
                                <a href="#"><img th:src="@{fe/img/blog/post1.jpg}" alt=""></a>
                            </div>
                            <div class="post_text">
                                <h3><a href="#">Định dạng bài đăng hình ảnh blog</a></h3>
                                <span>Ngày 3 tháng 3 năm 2022</span>
                            </div>

                        </div>
                        <div class="sidebar_post">
                            <div class="post_img">
                                <a href="#"><img th:src="@{fe/img/blog/post2.png}" alt=""></a>
                            </div>
                            <div class="post_text">
                                <h3><a href="#">Đăng ở định dạng Thư viện</a></h3>
                                <span>Ngày 3 tháng 3 năm 2022</span>
                            </div>

                        </div>
                        <div class="sidebar_post">
                            <div class="post_img">
                                <a href="#"><img th:src="@{fe/img/blog/post4.png}" alt=""></a>
                            </div>
                            <div class="post_text">
                                <h3><a href="#">Bài đăng đơn lẻ ở định dạng Âm thanh</a></h3>
                                <span>Ngày 3 tháng 3 năm 2022</span>
                            </div>

                        </div>
                        <div class="sidebar_post">
                            <div class="post_img">
                                <a href="#"><img th:src="@{fe/img/blog/post4.png}" alt=""></a>
                            </div>
                            <div class="post_text">
                                <h3><a href="#">Đăng ở định dạng Video vitae</a></h3>
                                <span>Ngày 3 tháng 3 năm 2022</span>
                            </div>

                        </div>
                    </div>
                    <!--recent post end-->

                    <!--recent post start-->
                    <div class="sidebar_widget recent_post">
                        <h3 class="widget_title">Comments</h3>
                        <div class="sidebar_post">
                            <div class="post_img">
                                <a href="#"><img th:src="@{fe/img/blog/comment.png.jpg}" alt=""></a>
                            </div>
                            <div class="post_text">
                                <h3><a href="#">Định dạng bài đăng hình ảnh blog</a></h3>
                                <span>Ngày 3 tháng 3 năm 2022</span>
                            </div>

                        </div>
                        <div class="sidebar_post">
                            <div class="post_img">
                                <a href="#"><img th:src="@{fe/img/blog/comment.png.jpg}" alt=""></a>
                            </div>
                            <div class="post_text">
                                <h3><a href="#">Đăng ở định dạng Thư viện</a></h3>
                                <span>Ngày 3 tháng 3 năm 2022</span>
                            </div>

                        </div>
                        <div class="sidebar_post">
                            <div class="post_img">
                                <a href="#"><img th:src="@{fe/img/blog/comment.png.jpg}" alt=""></a>
                            </div>
                            <div class="post_text">
                                <h3><a href="#">Bài đăng đơn lẻ ở định dạng Âm thanh </a></h3>
                                <span>Ngày 3 tháng 3 năm 2022</span>
                            </div>

                        </div>
                        <div class="sidebar_post">
                            <div class="post_img">
                                <a href="#"><img th:src="@{fe/img/blog/comment.png.jpg}" alt=""></a>
                            </div>
                            <div class="post_text">
                                <h3><a href="#">Đăng ở định dạng Video vitae</a></h3>
                                <span>Ngày 3 tháng 3 năm 2022</span>
                            </div>

                        </div>
                    </div>
                    <!--recent post end-->


                    <div class="sidebar_widget tags_widget">
                        <h3 class="widget_title">Tag Cloud</h3>
                        <ul>
                            <li><a href="#">Thương mại điện tử</a></li>
                            <li><a href="#">Sáng tạo</a></li>
                            <li><a href="#">Cửa hàng</a></li>
                            <li><a href="#">Ý tưởng</a></li>
                            <li><a href="#">Việc kinh doanh</a></li>
                            <li><a href="#">Doanh nghiệp</a></li>
                            <li><a href="#">Thông minh</a></li>
                        </ul>
                    </div>

                </aside>

                <!--blog sidebar start-->
            </div>
            <div class="col-lg-9 col-md-12">
                <!--blog grid area start-->
                <div class="blog_grid_area">
                    <div class="blog_grid">
                        <div class="blog_thumb">
                            <a href="#"><img th:src="@{fe/img/blog/blog4.png}" alt=""></a>
                        </div>
                        <div class="blog_content">
                            <div class="post_date">
                                <span class="day">10</span>
                                <span class="month">/ 12</span>
                            </div>
                            <h3 class="post_title"><a href="#">Một thực tế đã được chứng minh từ lâu là người đọc sẽ bị phân tâm bởi nội dung</a></h3>
                                <p class="post_desc">Một thực tế đã được chứng minh từ lâu là người đọc sẽ bị phân tâm bởi nội dung dễ đọc của một trang khi nhìn vào bố cục của nó. Mục đích của việc sử dụng Lorem</p>
                            <a class="read_more" href="#">đọc thêm</a>
                            <div class="post_meta">
                                <span>Đăng bởi </span>
                                <span><a href="#">quản trị viên</a></span>
                                <span><a href="#">/ WordPress</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_grid gallery">
                        <div class="blog_thumb_active owl-carousel">
                            <div class="single_blog_thumb">
                                <a href="#"><img th:src="@{fe/img/blog/blog1.png}" alt=""></a>
                            </div>
                            <div class="single_blog_thumb">
                                <a href="#"><img th:src="@{fe/img/blog/blog2.png}" alt=""></a>
                            </div>
                            <div class="single_blog_thumb">
                                <a href="#"><img th:src="@{fe/img/blog/blog3.png}" alt=""></a>
                            </div>
                            <div class="single_blog_thumb">
                                <a href="#"><img th:src="@{fe/img/blog/blog1.png}" alt=""></a>
                            </div>
                        </div>

                        <div class="blog_content">
                            <div class="post_date">
                                <span class="day">12</span>
                                <span class="month">/ 12</span>
                            </div>
                            <h3 class="post_title"><a href="#">Một thực tế đã được chứng minh từ lâu là người đọc sẽ bị phân tâm bởi nội dung</a></h3>
                            <p class="post_desc">Một thực tế đã được chứng minh từ lâu là người đọc sẽ bị phân tâm bởi nội dung dễ đọc của một trang khi nhìn vào bố cục của nó. Mục đích của việc sử dụng Lorem</p>
                            <a class="read_more" href="#">đọc thêm</a>
                            <div class="post_meta">
                                <span>Đăng bởi </span>
                                <span><a href="#">quản trị viên</a></span>
                                <span><a href="#">/ WordPress</a></span>
                            </div>
                        </div>

                    </div>

                    <div class="blog_grid audio">
                        <div class="blog_thumb">
                            <a href="#"><img th:src="@{fe/img/blog/blog2.png}" alt=""></a>
                        </div>
                        <div class="blog_content">
                            <div class="post_date">
                                <span class="day">01</span>
                                <span class="month">/ 12</span>
                            </div>
                            <h3 class="post_title"><a href="#">Một thực tế đã được chứng minh từ lâu là người đọc sẽ bị phân tâm</a></h3>
                            <p class="post_desc">Một thực tế đã được chứng minh từ lâu là người đọc sẽ bị phân tâm bởi nội dung dễ đọc của một trang khi nhìn vào bố cục của nó. Mục đích của việc sử dụng Lorem</p>
                            <a class="read_more" href="#">đọc thêm</a>
                            <div class="post_meta">
                                <span>Đăng bởi </span>
                                <span><a href="#">quản trị viên</a></span>
                                <span><a href="#">/ WordPress</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_grid video">
                        <div class="blog_thumb">
                            <a href="#"><img th:src="@{fe/img/blog/blog3.png}" alt=""></a>
                        </div>
                        <div class="blog_content">
                            <div class="post_date">
                                <span class="day">10</span>
                                <span class="month">/ Dec</span>
                            </div>
                            <h3 class="post_title"><a href="#">Một thực tế đã được chứng minh từ lâu là người đọc sẽ bị phân tâm</a></h3>
                            <p class="post_desc">Một thực tế đã được chứng minh từ lâu là người đọc sẽ bị phân tâm</p>
                            <a class="read_more" href="#">đọc thêm</a>
                            <div class="post_meta">
                                <span>Đăng bởi</span>
                                <span><a href="#">quản trị viên</a></span>
                                <span><a href="#">/ WordPress</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="blog_grid">
                        <div class="blog_thumb">
                            <a href="#"><img th:src="@{fe/img/blog/blog3.png}" alt=""></a>
                        </div>
                        <div class="blog_content">
                            <div class="post_date">
                                <span class="day">10</span>
                                <span class="month">/ Dec</span>
                            </div>
                            <h3 class="post_title"><a href="#">Một thực tế đã được chứng minh từ lâu là người đọc sẽ bị phân tâm</a></h3>
                            <p class="post_desc">Một thực tế đã được chứng minh từ lâu là người đọc sẽ bị phân tâm</p>
                            <a class="read_more" href="#">đọc thêm</a>
                            <div class="post_meta">
                                <span>Đăng bởi </span>
                                <span><a href="#">quản trị viên</a></span>
                                <span><a href="#">/ WordPress</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--blog grid area start-->
            </div>
        </div>
    </div>
</div>
<!--blog section area end-->

<!--blog pagination area start-->
<div class="blog_pagination">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="pagination">
                    <ul>
                        <li class="current">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li class="next"><a href="#">tiếp</a></li>
                        <li><a href="#">>></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--blog pagination area end-->

<!--footer area start-->
<footer th:replace="~{user/fragments/footer :: footer}"></footer>
<!--footer area end-->


<script th:src="@{/fe/js/plugins.js}"></script>
<script th:src="@{/fe/js/main.js}"></script>
<script th:src="@{/js/chatbot.js}"></script>




</body>

</html>