<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{user/fragments/head :: head}">
</head>

<body>
<!--header area start-->
<header th:fragment="header" class="header_area">
    <!--header top start-->
    <div class="header_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12">
                    <div class="welcome_text">
                        <ul>
                            <li>Miễn phí vận chuyển cho đơn hàng trên 100.000 VND</li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="top_right text-right">
                        <ul>
                            <li class="top_links"><a href="#">Tài khoản<i class="ion-chevron-down"></i></a>

                            </li>
                            <li class="language"><a href="#">Ngôn ngữ<i class="ion-chevron-down"></i></a>
                                <ul class="dropdown_language">
                                    <li><a href="#">Tiếng Việt</a></li>
                                    <li><a href="#">Tiếng Anh</a></li>
                                </ul>
                            </li>
                            <li class="currency"><a href="#">Hỗ trợ</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header top start-->

    <!--header middel start-->
    <div class="header_middel">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-5">
                    <div class="logo">
                        <a href="#"><img th:src="@{/fe/img/logo/logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="search_bar">
                        <form action="#">
                            <select class="select_option" name="select">
                                <option selected value="1">All Categories</option>
                                <option  value="2">Accessories</option>
                                <option  value="3">Bridge</option>
                                <option  value="4">Hub</option>
                                <option  value="5">Repeater</option>
                                <option  value="6">Switch</option>
                                <option  value="7">Video Games</option>
                                <option  value="8">PlayStation 3</option>
                                <option  value="9">PlayStation 4</option>
                                <option  value="10">Xbox 360</option>
                                <option  value="11">Xbox One</option>
                            </select>
                            <input placeholder="Search entire store here..." type="text">
                            <button type="submit"><i class="ion-ios-search-strong"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 offset-md-6 offset-lg-0">
                    <div class="cart_area">
                        <div class="middel_links">
                            <ul th:if="${!isAuthenticated}">
                                <li><a th:href="@{/login}">Đăng nhập</a></li>
                                <li>/</li>
                                <li><a th:href="@{/register}">Đăng ký</a></li>
                            </ul>
                            <ul th:if="${isAuthenticated}">
                                <li><span th:text="${username}">Xin chào, User</span></li>
                                <li>/</li>
                                <li><a th:href="@{/logout}" style="color: #ff4444;">Đăng xuất</a></li>
                            </ul>
                        </div>
                        <div class="cart_link">
                            <a href="/cart"><i class="fa fa-shopping-basket"></i><span class="cart_count" th:if="${isAuthenticated}">0</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header middel end-->

    <!--header bottom satrt-->
    <div class="header_bottom sticky-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="header_static">
                        <div class="main_menu_inner">
                            <div class="main_menu">
                                <nav>
                                    <ul>
                                        <li class="active"><a href="#">Trang chủ</a>

                                        </li>
                                        <li class="mega_items"><a href="#">Cửa hàng</a>

                                        </li>
                                        <li><a href="#">Tin tức</a>

                                        </li>
                                        <li><a href="#">Giới thiệu</a></li>
                                        <li><a href="#">Liên hệ</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="contact_phone">
                            <p>Gọi hỗ trợ miễn phí: <a href="tel:0982172169">0982172169</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header bottom end-->
</header>
<!--header area end-->

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/home">Trang chủ</a></li>
                        <li>Giỏ hàng</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!--shopping cart area start -->
<div class="shopping_cart_area mt-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="table_desc">
                    <div class="cart_page table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product_remove">Xóa</th>
                                    <th class="product_thumb">Hình ảnh</th>
                                    <th class="product_name">Sản phẩm</th>
                                    <th class="product-price">Giá</th>
                                    <th class="product_quantity">Số lượng</th>
                                    <th class="product_total">Tổng tiền</th>
                                </tr>
                            </thead>
                            <tbody th:if="${cart != null and cart.chiTietGioHangs != null and !cart.chiTietGioHangs.isEmpty()}">
                                <tr th:each="item : ${cart.chiTietGioHangs}" th:attr="data-item-id=${item.id}">
                                    <td class="product_remove">
                                        <a href="#" class="remove-item" th:attr="data-item-id=${item.id}">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                    <td class="product_thumb">
                                        <a th:href="@{'/product-details/' + ${item.sanPhamBienThe.sanPham.id}}">
                                            <img th:if="${item.sanPhamBienThe.sanPham.images != null and !item.sanPhamBienThe.sanPham.images.isEmpty()}" 
                                                 th:src="${item.sanPhamBienThe.sanPham.images[0].imageName}" 
                                                 th:alt="${item.sanPhamBienThe.sanPham.ten}" style="width: 80px; height: 80px; object-fit: cover;">
                                        </a>
                                    </td>
                                    <td class="product_name">
                                        <a th:href="@{'/product-details/' + ${item.sanPhamBienThe.sanPham.id}}" 
                                           th:text="${item.sanPhamBienThe.sanPham.ten}"></a>
                                        <br>
                                        <small>
                                            Size: <span th:text="${item.sanPhamBienThe.size.tenSize}"></span> | 
                                            Màu: <span th:text="${item.sanPhamBienThe.mauSac.maMau}"></span>
                                        </small>
                                    </td>
                                    <td class="product-price">
                                        <span th:text="${#numbers.formatDecimal(item.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                                    </td>
                                    <td class="product_quantity">
                                        <input type="number" th:value="${item.soLuong}" min="1" 
                                               th:max="${item.sanPhamBienThe.soLuongTon}" 
                                               class="quantity-input" 
                                               th:attr="data-item-id=${item.id}">
                                    </td>
                                    <td class="product_total">
                                        <span th:text="${#numbers.formatDecimal(item.thanhTien, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody th:if="${cart == null or cart.chiTietGioHangs == null or cart.chiTietGioHangs.isEmpty()}" id="empty-cart-body">
                                <tr>
                                    <td colspan="6" class="text-center" >
                                        <p>Giỏ hàng trống</p>
                                        <a style="background: #ff6a28; color: white" href="/home" class="btn btn-primary">Tiếp tục mua sắm</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--shopping cart area start -->
        <div class="coupon_area" th:if="${cart != null and cart.chiTietGioHangs != null and !cart.chiTietGioHangs.isEmpty()}">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="coupon_code left">
                        <h3 style="color: white">Mã giảm giá</h3>
                        <div class="coupon_inner">
                            <p>Nhập mã giảm giá nếu bạn có</p>
                            <div class="discount-input-group">
                                <input placeholder="Mã giảm giá" type="text" id="discountCodeInput">
                                <button type="button" id="applyDiscountBtn">Thêm mã</button>
                            </div>
                            <div class="discount-links">
                                <a href="/discount-codes" class="view-discounts-link">
                                    <i class="fa fa-ticket-alt"></i> Xem tất cả mã giảm giá
                                </a>
                            </div>
                            <div id="discountMessage" class="discount-message" style="margin-top: 10px; display: none;"></div>
                            
                            <!-- Danh sách mã giảm giá đã áp dụng -->
                            <div id="appliedDiscounts" class="applied-discounts" style="margin-top: 15px; display: none;">
                                <h4 style="color: #28a745; font-size: 14px; margin-bottom: 10px;">
                                    <i class="fa fa-check-circle"></i> Mã giảm giá đã áp dụng:
                                </h4>
                                <div id="discountList" class="discount-list">
                                    <!-- Các mã giảm giá sẽ được thêm vào đây -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="coupon_code right">
                        <h3 style="color: white">Tổng giỏ hàng</h3>
                        <div class="coupon_inner">
                            <div class="cart_subtotal">
                                <p>Tổng tiền <span id="subtotalAmount" th:text="${#numbers.formatDecimal(#aggregates.sum(cart.chiTietGioHangs.![thanhTien]), 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span></p>
                            </div>
                            <div class="cart_discount" id="discountRow" style="display: none;">
                                <p>Giảm giá <span id="discountAmount">0 VNĐ</span></p>
                            </div>
                            <div class="cart_total">
                                <p>Tổng cộng <span id="totalAmount" th:text="${#numbers.formatDecimal(#aggregates.sum(cart.chiTietGioHangs.![thanhTien]), 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span></p>
                            </div>
                            <div class="checkout_btn">
                                <a href="#" class="btn btn-primary" id="checkoutBtn" onclick="goToCheckout()">Thanh toán</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--shopping cart area end -->

<!--footer area start-->
<footer th:replace="~{user/fragments/footer :: footer}"></footer>
<!--footer area end-->

<script th:src="@{/fe/js/plugins.js}"></script>
<script th:src="@{/fe/js/main.js}"></script>

<style>
.discount-message {
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 8px;
}

.discount-message.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.discount-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.discount-message.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

.cart_discount {
    border-top: 1px solid #e5e5e5;
    padding: 10px 0;
}

.cart_discount p {
    margin: 0;
    font-weight: 500;
    color: #28a745;
}

#applyDiscountBtn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

#discountCodeInput:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.discount-input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.discount-input-group input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.discount-input-group button {
    padding: 10px 20px;
    background: #ff6a28;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.discount-input-group button:hover:not(:disabled) {
    background: #e55a1f;
    transform: translateY(-1px);
}

.discount-input-group button:disabled {
    background: #ccc;
    cursor: not-allowed;
    transform: none;
}

.discount-links {
    margin-top: 10px;
}

.view-discounts-link {
    color: #ff6a28;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
}

.view-discounts-link:hover {
    color: #e55a1f;
    text-decoration: underline;
}

/* Styles cho danh sách mã giảm giá đã áp dụng */
.applied-discounts {
    background: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 15px;
}

.discount-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.discount-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    padding: 10px 12px;
    transition: all 0.3s ease;
}

.discount-item:hover {
    border-color: #28a745;
    box-shadow: 0 2px 4px rgba(40, 167, 69, 0.1);
}

.discount-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.discount-code {
    font-weight: 600;
    color: #28a745;
    font-size: 14px;
}

.discount-amount {
    color: #666;
    font-size: 12px;
}

.discount-remove {
    background: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.discount-remove:hover {
    background: #c82333;
    transform: scale(1.05);
}

.discount-total {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: #28a745;
}
</style>

<script>
// ===== GLOBAL VARIABLES =====
let appliedDiscounts = []; // Danh sách mã giảm giá đã áp dụng
let totalDiscountAmount = 0; // Tổng số tiền giảm giá
let originalTotal = 0;

// ===== GLOBAL FUNCTIONS =====

// Hàm tính tổng tiền hiện tại
function getCurrentTotal() {
    const totalElements = document.querySelectorAll('.product_total span');
    let currentTotal = 0;
    
    totalElements.forEach(element => {
        const priceText = element.textContent;
        const price = parseFloat(priceText.replace(/[^\d]/g, ''));
        if (!isNaN(price)) {
            currentTotal += price;
        }
    });
    
    return currentTotal;
}

// Hàm cập nhật tổng tiền cuối cùng
function updateFinalTotal(finalTotal) {
    const totalElement = document.querySelector('#totalAmount');
    if (totalElement) {
        totalElement.textContent = formatCurrency(finalTotal);
    }
}

// Hàm hiển thị thông báo
function showNotification(message, type) {
    // Tạo notification element
    const notification = document.createElement('div');
    notification.className = `notification notification-${type}`;
    notification.innerHTML = `
        <div class="notification-content">
            <span class="notification-message">${message}</span>
            <button class="notification-close">&times;</button>
        </div>
    `;
    
    // Thêm vào body
    document.body.appendChild(notification);
    
    // Hiển thị notification
    setTimeout(() => {
        notification.classList.add('show');
    }, 100);
    
    // Tự động ẩn sau 3 giây
    setTimeout(() => {
        notification.classList.remove('show');
        setTimeout(() => {
            if (document.body.contains(notification)) {
                document.body.removeChild(notification);
            }
        }, 300);
    }, 3000);
    
    // Xử lý nút đóng
    const closeBtn = notification.querySelector('.notification-close');
    closeBtn.addEventListener('click', () => {
        notification.classList.remove('show');
        setTimeout(() => {
            if (document.body.contains(notification)) {
                document.body.removeChild(notification);
            }
        }, 300);
    });
}

// Hàm format tiền tệ
function formatCurrency(amount) {
    if (isNaN(amount) || amount <= 0) {
        return '0 VNĐ';
    }
    return new Intl.NumberFormat('vi-VN', {
        minimumFractionDigits: 0,
        maximumFractionDigits: 0
    }).format(amount) + ' VNĐ';
}

// Hàm cập nhật thành tiền của một item
function updateItemTotal(itemId, quantity) {
    const row = document.querySelector(`tr[data-item-id="${itemId}"]`);
    if (row) {
        const priceElement = row.querySelector('.product-price span');
        const totalElement = row.querySelector('.product_total span');
        
        if (priceElement && totalElement) {
            // Lấy giá từ text content của span trong td.product-price
            const priceText = priceElement.textContent;
            const price = parseFloat(priceText.replace(/[^\d]/g, ''));
            
            console.log('Price text:', priceText); // Debug log
            console.log('Parsed price:', price); // Debug log
            console.log('Quantity:', quantity); // Debug log
            
            if (!isNaN(price)) {
                const total = price * quantity;
                totalElement.textContent = formatCurrency(total);
                console.log('New total:', total); // Debug log
                
                // Force DOM update
                totalElement.style.display = 'none';
                totalElement.offsetHeight; // Trigger reflow
                totalElement.style.display = '';
            }
        }
    }
}

// Hàm xóa row khỏi bảng
function removeCartRow(itemId) {
    const row = document.querySelector(`tr[data-item-id="${itemId}"]`);
    if (row) {
        // Thêm class để trigger animation
        row.classList.add('removing');
        row.style.animation = 'fadeOut 0.3s ease';
        
        setTimeout(() => {
            if (row.parentNode) {
                row.parentNode.removeChild(row);
                // Cập nhật UI ngay lập tức
                updateCartTotal();
                checkEmptyCart();
            }
        }, 300);
    }
}

// Hàm cập nhật tổng tiền giỏ hàng
function updateCartTotal() {
    const totalElements = document.querySelectorAll('.product_total span');
    let total = 0;
    
    totalElements.forEach(element => {
        const priceText = element.textContent;
        const price = parseFloat(priceText.replace(/[^\d]/g, ''));
        if (!isNaN(price)) {
            total += price;
        }
    });
    
    console.log('Calculating total from elements:', totalElements.length);
    console.log('Total calculated:', total);
    
    // Lưu tổng tiền gốc
    originalTotal = total;
    
    // Cập nhật subtotal
    const subtotalElement = document.querySelector('#subtotalAmount');
    if (subtotalElement) {
        subtotalElement.textContent = formatCurrency(total);
        console.log('Updated subtotal:', subtotalElement.textContent);
    }
    
    // Cập nhật tổng tiền sau giảm giá
    updateTotalWithDiscount();
    
    // Cập nhật số lượng item trong header cart count
    updateCartCount();
}

// Hàm cập nhật tổng tiền sau khi áp dụng mã giảm giá
function updateTotalWithDiscount() {
    const totalElement = document.querySelector('#totalAmount');
    const discountRow = document.querySelector('#discountRow');
    const discountAmountElement = document.querySelector('#discountAmount');
    
    if (totalElement) {
        const finalTotal = originalTotal - totalDiscountAmount;
        totalElement.textContent = formatCurrency(finalTotal);
        console.log('Updated total with discount:', finalTotal);
    }
    
    // Hiển thị/ẩn dòng giảm giá
    if (totalDiscountAmount > 0) {
        discountRow.style.display = 'block';
        if (discountAmountElement) {
            discountAmountElement.textContent = formatCurrency(totalDiscountAmount);
        }
    } else {
        discountRow.style.display = 'none';
    }
    
    // Cập nhật giao diện danh sách mã giảm giá
    updateAppliedDiscountsDisplay();
}

// Hàm áp dụng mã giảm giá (hỗ trợ nhiều mã)
function applyDiscountCode() {
    const discountCodeInput = document.querySelector('#discountCodeInput');
    const applyBtn = document.querySelector('#applyDiscountBtn');
    const discountMessage = document.querySelector('#discountMessage');
    
    const discountCode = discountCodeInput.value.trim();
    
    if (!discountCode) {
        showDiscountMessage('Vui lòng nhập mã giảm giá', 'error');
        return;
    }
    
    // Kiểm tra mã đã tồn tại chưa
    if (appliedDiscounts.some(d => d.code === discountCode)) {
        showDiscountMessage('Mã giảm giá đã được áp dụng', 'error');
        return;
    }
    
    // Disable button và input
    applyBtn.disabled = true;
    discountCodeInput.disabled = true;
    applyBtn.textContent = 'Đang xử lý...';
    
    // Tính tổng tiền hiện tại
    const currentTotal = getCurrentTotal();
    
    // Gọi API validate mã giảm giá
    fetch(`/api/ma-giam-gia/validate?maGiamGia=${encodeURIComponent(discountCode)}&orderTotal=${currentTotal}`)
        .then(response => response.json())
        .then(data => {
            console.log('Discount validation response:', data);
            
            if (data.success && data.valid) {
                // Mã giảm giá hợp lệ - thêm vào danh sách
                const discountAmount = parseFloat(data.discountAmount) || 0;
                appliedDiscounts.push({
                    code: discountCode,
                    amount: discountAmount
                });
                
                // Cập nhật tổng giảm giá
                totalDiscountAmount = appliedDiscounts.reduce((sum, d) => sum + d.amount, 0);
                
                showDiscountMessage(`Mã giảm giá "${discountCode}" đã được thêm! Giảm ${formatCurrency(discountAmount)}`, 'success');
                discountCodeInput.value = '';
                
                // Cập nhật UI
                updateTotalWithDiscount();
                
            } else {
                // Mã giảm giá không hợp lệ
                showDiscountMessage(data.message || 'Mã giảm giá không hợp lệ', 'error');
            }
        })
        .catch(error => {
            console.error('Error validating discount code:', error);
            showDiscountMessage('Có lỗi xảy ra khi kiểm tra mã giảm giá', 'error');
        })
        .finally(() => {
            // Re-enable input
            applyBtn.disabled = false;
            discountCodeInput.disabled = false;
            applyBtn.textContent = 'Thêm mã';
        });
}

// Hàm xóa một mã giảm giá cụ thể
function removeDiscountCode(codeToRemove) {
    // Xóa mã khỏi danh sách
    appliedDiscounts = appliedDiscounts.filter(d => d.code !== codeToRemove);
    
    // Cập nhật tổng giảm giá
    totalDiscountAmount = appliedDiscounts.reduce((sum, d) => sum + d.amount, 0);
    
    // Cập nhật UI
    updateTotalWithDiscount();
    
    showNotification(`Đã xóa mã giảm giá "${codeToRemove}"`, 'info');
}

// Hàm xóa tất cả mã giảm giá
function removeAllDiscountCodes() {
    appliedDiscounts = [];
    totalDiscountAmount = 0;
    
    // Cập nhật UI
    updateTotalWithDiscount();
    
    showNotification('Đã xóa tất cả mã giảm giá', 'info');
}

// Hàm cập nhật giao diện danh sách mã giảm giá đã áp dụng
function updateAppliedDiscountsDisplay() {
    const appliedDiscountsDiv = document.querySelector('#appliedDiscounts');
    const discountListDiv = document.querySelector('#discountList');
    
    if (!appliedDiscountsDiv || !discountListDiv) return;
    
    if (appliedDiscounts.length === 0) {
        appliedDiscountsDiv.style.display = 'none';
        return;
    }
    
    appliedDiscountsDiv.style.display = 'block';
    
    // Tạo HTML cho danh sách mã giảm giá
    let html = '';
    appliedDiscounts.forEach(discount => {
        html += `
            <div class="discount-item">
                <div class="discount-info">
                    <div class="discount-code">${discount.code}</div>
                    <div class="discount-amount">Giảm ${formatCurrency(discount.amount)}</div>
                </div>
                <button class="discount-remove" onclick="removeDiscountCode('${discount.code}')">
                    <i class="fa fa-times"></i>
                </button>
            </div>
        `;
    });
    
    // Thêm tổng giảm giá
    html += `
        <div class="discount-total">
            <span>Tổng giảm giá:</span>
            <span>${formatCurrency(totalDiscountAmount)}</span>
        </div>
    `;
    
    discountListDiv.innerHTML = html;
}

// Hàm hiển thị thông báo mã giảm giá
function showDiscountMessage(message, type) {
    const discountMessage = document.querySelector('#discountMessage');
    if (discountMessage) {
        discountMessage.textContent = message;
        discountMessage.className = `discount-message ${type}`;
        discountMessage.style.display = 'block';
        
        // Tự động ẩn sau 5 giây
        setTimeout(() => {
            discountMessage.style.display = 'none';
        }, 5000);
    }
}

// Hàm chuyển đến trang checkout
function goToCheckout() {
    let checkoutUrl = '/checkout';
    
    // Nếu có mã giảm giá đã áp dụng, thêm vào URL
    if (appliedDiscounts.length > 0) {
        const params = new URLSearchParams();
        
        // Thêm danh sách mã giảm giá
        const discountCodes = appliedDiscounts.map(d => d.code).join(',');
        params.append('discountCodes', discountCodes);
        
        // Thêm tổng giảm giá
        params.append('totalDiscountAmount', totalDiscountAmount.toString());
        
        checkoutUrl += '?' + params.toString();
    }
    
    window.location.href = checkoutUrl;
}

// Hàm cập nhật số lượng item trong header
function updateCartCount() {
    fetch('/api/cart/count')
        .then(response => response.json())
        .then(data => {
            const cartCountElement = document.querySelector('.cart_count');
            if (cartCountElement && data.success) {
                cartCountElement.textContent = data.data || 0;
                console.log('Updated cart count:', data.data);
            }
        })
        .catch(error => {
            console.error('Error updating cart count:', error);
        });
}

// Hàm kiểm tra giỏ hàng trống
function checkEmptyCart() {
    const rows = document.querySelectorAll('tbody tr[data-item-id]');
    console.log('Checking empty cart, current rows:', rows.length);
    
    if (rows.length === 0) {
        // Hiển thị thông báo giỏ hàng trống
        const tbody = document.querySelector('tbody');
        if (tbody) {
            // Xóa tất cả rows hiện tại
            const existingRows = tbody.querySelectorAll('tr');
            existingRows.forEach(row => row.remove());
            
            // Thêm row giỏ hàng trống
            const emptyRow = document.createElement('tr');
            emptyRow.innerHTML = `
                <td colspan="6" class="text-center">
                    <p>Giỏ hàng trống</p>
                    <a href="/home" class="btn btn-primary">Tiếp tục mua sắm</a>
                </td>
            `;
            tbody.appendChild(emptyRow);
        }
        
        // Ẩn phần coupon và tổng tiền
        const couponArea = document.querySelector('.coupon_area');
        if (couponArea) {
            couponArea.style.display = 'none';
        }
    }
}

// ===== EVENT LISTENERS =====
document.addEventListener('DOMContentLoaded', function() {
    console.log('DOM loaded, setting up event listeners...');
    
    // Xử lý cập nhật số lượng
    document.querySelectorAll('.quantity-input').forEach(function(input) {
        input.addEventListener('change', function() {
            const itemId = this.getAttribute('data-item-id');
            const quantity = parseInt(this.value);
            
            if (quantity > 0) {
                updateCartItemQuantity(itemId, quantity);
            } else {
                showNotification('Số lượng phải lớn hơn 0', 'error');
                this.value = 1; // Reset về 1 nếu nhập sai
            }
        });
        
        // Xử lý khi người dùng nhập trực tiếp
        input.addEventListener('input', function() {
            const value = parseInt(this.value);
            if (value <= 0) {
                this.style.borderColor = '#dc3545';
            } else {
                this.style.borderColor = '#ddd';
            }
        });
    });

    // Xử lý xóa item
    document.querySelectorAll('.remove-item').forEach(function(link) {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            const itemId = this.getAttribute('data-item-id');
            if (confirm('Bạn có chắc muốn xóa sản phẩm này?')) {
                removeCartItem(itemId);
            }
        });
    });

    // Xử lý áp dụng mã giảm giá
    const applyDiscountBtn = document.querySelector('#applyDiscountBtn');
    const discountCodeInput = document.querySelector('#discountCodeInput');
    
    if (applyDiscountBtn) {
        applyDiscountBtn.addEventListener('click', applyDiscountCode);
    }
    
    if (discountCodeInput) {
        // Xử lý khi nhấn Enter trong input mã giảm giá
        discountCodeInput.addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                applyDiscountCode();
            }
        });
    }
    
    // Khởi tạo tổng tiền ban đầu
    initializeCartTotal();
    
    // Khởi tạo mã giảm giá từ URL parameters
    initializeDiscountFromURL();
    
    console.log('Event listeners set up successfully');
});

// Hàm khởi tạo mã giảm giá từ URL parameters
function initializeDiscountFromURL() {
    const urlParams = new URLSearchParams(window.location.search);
    const discountCodes = urlParams.get('discountCodes');
    const totalDiscountAmount = urlParams.get('totalDiscountAmount');
    
    if (discountCodes) {
        // Tách danh sách mã giảm giá
        const codes = discountCodes.split(',');
        
        // Tự động áp dụng từng mã giảm giá
        codes.forEach((code, index) => {
            if (code.trim()) {
                setTimeout(() => {
                    const discountCodeInput = document.getElementById('discountCodeInput');
                    if (discountCodeInput) {
                        discountCodeInput.value = code.trim();
                        applyDiscountCode();
                    }
                }, index * 1000); // Delay 1 giây giữa các mã
            }
        });
    }
}

// Hàm khởi tạo tổng tiền ban đầu
function initializeCartTotal() {
    const totalElements = document.querySelectorAll('.product_total span');
    let total = 0;
    
    totalElements.forEach(element => {
        const priceText = element.textContent;
        const price = parseFloat(priceText.replace(/[^\d]/g, ''));
        if (!isNaN(price)) {
            total += price;
        }
    });
    
    originalTotal = total;
    console.log('Initialized cart total:', originalTotal);
}

// ===== API FUNCTIONS =====

function updateCartItemQuantity(itemId, quantity) {
    console.log('Updating cart item quantity:', itemId, quantity);
    
    // Đảm bảo itemId và quantity là số
    const numericItemId = parseInt(itemId);
    const numericQuantity = parseInt(quantity);
    
    if (isNaN(numericItemId) || isNaN(numericQuantity)) {
        showNotification('Dữ liệu không hợp lệ', 'error');
        return;
    }
    
    // Hiển thị loading
    const input = document.querySelector(`input[data-item-id="${itemId}"]`);
    if (input) {
        input.disabled = true;
        input.style.opacity = '0.6';
    }
    
    fetch('/api/cart/update-quantity', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            itemId: numericItemId,
            quantity: numericQuantity
        })
    })
    .then(response => response.json())
    .then(data => {
        console.log('Update response:', data);
        
        if (data.success) {
            // Hiển thị thông báo thành công
            showNotification('Cập nhật số lượng thành công!', 'success');
            
            // Cập nhật thành tiền của item này
            updateItemTotal(itemId, numericQuantity);
            
            // Cập nhật tổng tiền giỏ hàng
            updateCartTotal();
            
            // Reset input
            if (input) {
                input.disabled = false;
                input.style.opacity = '1';
            }
        } else {
            showNotification(data.message || 'Có lỗi xảy ra', 'error');
            // Reset input về giá trị cũ
            if (input) {
                input.disabled = false;
                input.style.opacity = '1';
            }
        }
    })
    .catch(error => {
        console.error('Error:', error);
        showNotification('Có lỗi xảy ra khi cập nhật số lượng', 'error');
        // Reset input
        if (input) {
            input.disabled = false;
            input.style.opacity = '1';
        }
    });
}

function removeCartItem(itemId) {
    console.log('Removing cart item:', itemId);
    
    // Đảm bảo itemId là số
    const numericItemId = parseInt(itemId);
    
    if (isNaN(numericItemId)) {
        showNotification('ID sản phẩm không hợp lệ', 'error');
        return;
    }
    
    // Hiển thị loading
    const removeLink = document.querySelector(`a[data-item-id="${itemId}"]`);
    if (removeLink) {
        removeLink.style.pointerEvents = 'none';
        removeLink.style.opacity = '0.6';
    }
    
    fetch('/api/cart/remove', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            itemId: numericItemId
        })
    })
    .then(response => response.json())
    .then(data => {
        console.log('Remove response:', data);
        
        if (data.success) {
            showNotification('Đã xóa sản phẩm khỏi giỏ hàng!', 'success');
            
            // Xóa row khỏi bảng
            removeCartRow(itemId);
        } else {
            showNotification(data.message || 'Có lỗi xảy ra', 'error');
            // Reset link
            if (removeLink) {
                removeLink.style.pointerEvents = 'auto';
                removeLink.style.opacity = '1';
            }
        }
    })
    .catch(error => {
        console.error('Error:', error);
        showNotification('Có lỗi xảy ra khi xóa sản phẩm', 'error');
        // Reset link
        if (removeLink) {
            removeLink.style.pointerEvents = 'auto';
            removeLink.style.opacity = '1';
        }
    });
}
</script>
</body>
</html>
