<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{user/fragments/head :: head}"></head>

<body>
<!--header area start-->
<header th:replace="~{user/fragments/header :: header}"></header>
<!--header area end-->

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/home">home</a></li>
                        <li><a href="/cart">Giỏ hàng</a></li>
                        <li>Thanh toán</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!--checkout area start -->
<div class="checkout_area">
    <div class="container">
        <div class="checkout_container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="billing_details">
                        <div class="billing_header">
                            <h3>THÔNG TIN THANH TOÁN</h3>
                        </div>
                        <form id="checkout-form">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Họ <span>*</span></label>
                                        <input type="text" id="ho" name="ho" 
                                               th:value="${user.hoTen != null ? user.hoTen.split(' ')[0] : ''}" 
                                               placeholder="Nhập họ" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Tên <span>*</span></label>
                                        <input type="text" id="ten" name="ten" 
                                               th:value="${user.hoTen != null ? user.hoTen.split(' ').length > 1 ? user.hoTen.split(' ')[1] : '' : ''}" 
                                               placeholder="Nhập tên" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Tên công ty</label>
                                        <input type="text" id="tenCongTy" name="tenCongTy" 
                                               placeholder="Nhập tên công ty (không bắt buộc)">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Quốc gia <span>*</span></label>
                                        <select id="quocGia" name="quocGia" required>
                                            <option value="Vietnam" selected>Việt Nam</option>
                                            <option value="USA">Hoa Kỳ</option>
                                            <option value="UK">Anh</option>
                                            <option value="Japan">Nhật Bản</option>
                                            <option value="Korea">Hàn Quốc</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Địa chỉ <span>*</span></label>
                                        <input type="text" id="diaChi1" name="diaChi1" 
                                               th:value="${user.diaChi}" 
                                               placeholder="Số nhà và tên đường" required>
                                        <input type="text" id="diaChi2" name="diaChi2" 
                                               placeholder="Căn hộ, phòng, đơn vị (không bắt buộc)" 
                                               style="margin-top: 10px;">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Thành phố <span>*</span></label>
                                        <input type="text" id="thanhPho" name="thanhPho" 
                                               placeholder="Nhập thành phố" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Tỉnh / Huyện <span>*</span></label>
                                        <input type="text" id="tinhHuyen" name="tinhHuyen" 
                                               placeholder="Nhập tỉnh/huyện" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Số điện thoại <span>*</span></label>
                                        <input type="tel" id="soDienThoai" name="soDienThoai" 
                                               th:value="${user.soDienThoai}" 
                                               placeholder="Nhập số điện thoại" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Email <span>*</span></label>
                                        <input type="email" id="email" name="email" 
                                               th:value="${user.email}" 
                                               placeholder="Nhập email" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Ghi chú</label>
                                        <textarea id="ghiChu" name="ghiChu" rows="3" 
                                                  placeholder="Ghi chú về đơn hàng (không bắt buộc)"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="col-lg-4">
                    <div class="order_summary">
                        <div class="order_header">
                            <h3>ĐƠN HÀNG CỦA BẠN</h3>
                        </div>
                        
                        <div class="order_items" th:if="${cart != null and cart.chiTietGioHangs != null}">
                            <div class="order_item" th:each="item : ${cart.chiTietGioHangs}">
                                <div class="item_info">
                                    <div class="item_name" th:text="${item.sanPhamBienThe.sanPham.ten}">Tên sản phẩm</div>
                                    <div class="item_quantity" th:text="'× ' + ${item.soLuong}">× 1</div>
                                </div>
                                <div class="item_price" th:text="${#numbers.formatDecimal(item.thanhTien, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}">100,000 VNĐ</div>
                            </div>
                        </div>
                        
                        <div class="order_total">
                            <div class="total_row">
                                <span>Tạm tính:</span>
                                <span id="subtotal-amount" th:text="${#numbers.formatDecimal(#aggregates.sum(cart.chiTietGioHangs.![thanhTien]), 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                            </div>
                            <!-- Hiển thị nhiều mã giảm giá -->
                            <div class="total_row discount" id="discount-row" th:style="${discountCodes != null or discountCode != null ? 'display: block;' : 'display: none;'}">
                                <span>Giảm giá:</span>
                                <span id="discount-amount" style="color: #28a745;" th:text="'-' + ${totalDiscountAmount != null ? #numbers.formatDecimal(totalDiscountAmount, 0, 'COMMA', 0, 'POINT') + ' VNĐ' : discountAmount != null ? #numbers.formatDecimal(discountAmount, 0, 'COMMA', 0, 'POINT') + ' VNĐ' : '0 VNĐ'}">-0 VNĐ</span>
                            </div>
                            <div class="total_row shipping">
                                <span>Phí giao hàng:</span>
                                <span id="shipping-fee">Miễn phí</span>
                            </div>
                            <div class="total_row total">
                                <span>Tổng cộng:</span>
                                <span id="total-amount" th:text="${finalTotal != null ? #numbers.formatDecimal(finalTotal, 0, 'COMMA', 0, 'POINT') + ' VNĐ' : #numbers.formatDecimal(#aggregates.sum(cart.chiTietGioHangs.![thanhTien]), 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                            </div>
                        </div>
                        
                        <!-- Mã giảm giá section - Hỗ trợ nhiều mã -->
                        <div class="discount_section" th:if="${discountCodes != null or discountCode != null}">
                            <div class="discount_info">
                                <h4>Mã giảm giá đã áp dụng</h4>
                                
                                <!-- Hiển thị nhiều mã giảm giá -->
                                <div th:if="${discountCodes != null}" class="applied_discounts_list">
                                    <div th:each="code, iterStat : ${appliedDiscountCodes}" class="applied_discount_item">
                                        <span class="discount_code" th:text="${code}">SALE10</span>
                                        <span class="discount_amount">Đã áp dụng</span>
                                    </div>
                                    <div class="discount_total">
                                        <span>Tổng giảm giá:</span>
                                        <span class="total_discount_amount" th:text="'-' + ${#numbers.formatDecimal(totalDiscountAmount, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}">-50,000 VNĐ</span>
                                    </div>
                                </div>
                                
                                <!-- Hiển thị 1 mã giảm giá (tương thích ngược) -->
                                <div th:if="${discountCode != null and discountCodes == null}" class="applied_discount">
                                    <span class="discount_code" th:text="${discountCode}">SALE10</span>
                                    <span class="discount_amount" th:text="'-' + ${#numbers.formatDecimal(discountAmount, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}">-50,000 VNĐ</span>
                                </div>
                                
                                <div class="discount_actions">
                                    <a href="/cart" class="btn-edit-discount">
                                        <i class="fa fa-edit"></i> Chỉnh sửa mã giảm giá
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Thêm mã giảm giá section -->
                        <div class="add_discount_section" th:if="${discountCode == null and discountCodes == null}">
                            <div class="add_discount_info">
                                <h4>Mã giảm giá</h4>
                                <div class="discount_input_group">
                                    <input type="text" id="newDiscountCodeInput" placeholder="Nhập mã giảm giá">
                                    <button type="button" id="applyNewDiscountBtn">Áp dụng</button>
                                </div>
                                <div class="discount_links">
                                    <a href="/discount-codes" class="view-discounts-link">
                                        <i class="fa fa-ticket-alt"></i> Xem tất cả mã giảm giá
                                    </a>
                                </div>
                                <div id="newDiscountMessage" class="discount-message" style="margin-top: 10px; display: none;"></div>
                            </div>
                        </div>
                        
                        <div class="payment_section">
                            <div class="account_option">
                                <input type="radio" id="createAccount" name="createAccount" value="true">
                                <label for="createAccount">Tạo tài khoản?</label>
                            </div>
                            
                            <div class="payment_method">
                                <label>Phương thức thanh toán:</label>
                                <div class="payment_option">
                                    <input type="radio" id="cash" name="loaiThanhToan" value="CASH" checked>
                                    <label for="cash">Tiền mặt khi nhận hàng</label>
                                </div>
                                <div class="payment_option">
                                    <input type="radio" id="bank" name="loaiThanhToan" value="BANK_TRANSFER">
                                    <label for="bank">Chuyển khoản ngân hàng</label>
                                </div>
                                <div class="payment_option">
                                    <input type="radio" id="card" name="loaiThanhToan" value="CREDIT_CARD">
                                    <label for="card">Thẻ tín dụng</label>
                                </div>
                            </div>
                        </div>
                        
                        <div class="checkout_btn">
                            <button type="button" id="place-order-btn" class="btn-checkout">
                                ĐẶT HÀNG NGAY
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--checkout area end -->

<!--footer area start-->
<footer th:replace="~{user/fragments/footer :: footer}"></footer>
<!--footer area end-->

<script th:src="@{fe/js/plugins.js}"></script>
<script th:src="@{fe/js/main.js}"></script>

<style>
.discount_section {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 15px;
    margin: 15px 0;
}

.discount_info h4 {
    color: #28a745;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
}

.applied_discount {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #d4edda;
}

.discount_code {
    font-weight: 600;
    color: #155724;
    background-color: #d4edda;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}

.discount_amount {
    font-weight: 600;
    color: #28a745;
    font-size: 16px;
}

.total_row.discount {
    border-top: 1px solid #e5e5e5;
    padding: 8px 0;
}

.total_row.discount span:first-child {
    color: #28a745;
    font-weight: 500;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    min-width: 300px;
    max-width: 500px;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.notification.show {
    transform: translateX(0);
}

.notification.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.notification.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.notification.info {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

.notification-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-close {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: inherit;
    opacity: 0.7;
    margin-left: 10px;
}

.notification-close:hover {
    opacity: 1;
}

.add_discount_section {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 15px;
    margin: 15px 0;
}

.add_discount_info h4 {
    color: #333;
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 600;
}

.discount_input_group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.discount_input_group input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.discount_input_group button {
    padding: 10px 20px;
    background: #ff6a28;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.discount_input_group button:hover:not(:disabled) {
    background: #e55a1f;
    transform: translateY(-1px);
}

.discount_input_group button:disabled {
    background: #ccc;
    cursor: not-allowed;
    transform: none;
}

.discount_actions {
    margin-top: 15px;
}

.btn-remove-discount {
    background: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.btn-remove-discount:hover {
    background: #c82333;
    transform: translateY(-1px);
}

.discount_links {
    margin-top: 10px;
}

.view-discounts-link {
    color: #ff6a28;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
}

.view-discounts-link:hover {
    color: #e55a1f;
    text-decoration: underline;
}

/* Styles cho danh sách nhiều mã giảm giá */
.applied_discounts_list {
    margin-bottom: 15px;
}

.applied_discount_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: 1px solid #d4edda;
}

.discount_total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    padding: 10px 12px;
    border-radius: 5px;
    border: 1px solid #e9ecef;
    font-weight: 600;
    margin-top: 10px;
}

.total_discount_amount {
    color: #28a745;
    font-size: 16px;
}

.btn-edit-discount {
    background: #ff6a28;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
}

.btn-edit-discount:hover {
    background: #e55a1f;
    color: white;
    text-decoration: none;
    transform: translateY(-1px);
}
</style>

<script>
// ===== GLOBAL VARIABLES =====
let appliedDiscountCodes = []; // Danh sách mã giảm giá đã áp dụng
let totalDiscountAmount = 0; // Tổng số tiền giảm giá
let originalSubtotal = 0;

// ===== GLOBAL FUNCTIONS =====

// Hàm format tiền tệ
function formatCurrency(amount) {
    if (isNaN(amount) || amount <= 0) {
        return '0 VNĐ';
    }
    return new Intl.NumberFormat('vi-VN', {
        minimumFractionDigits: 0,
        maximumFractionDigits: 0
    }).format(amount) + ' VNĐ';
}

// Hàm khởi tạo mã giảm giá từ Thymeleaf data
function initializeDiscountFromURL() {
    // Lưu subtotal gốc
    const subtotalElement = document.getElementById('subtotal-amount');
    if (subtotalElement) {
        const subtotalText = subtotalElement.textContent;
        originalSubtotal = parseFloat(subtotalText.replace(/[^\d]/g, ''));
        console.log('Original subtotal:', originalSubtotal);
    }
    
    // Kiểm tra xem có mã giảm giá được áp dụng không (từ Thymeleaf)
    const discountRow = document.getElementById('discount-row');
    if (discountRow && discountRow.style.display !== 'none') {
        const discountAmountElement = document.getElementById('discount-amount');
        
        if (discountAmountElement) {
            const discountAmountText = discountAmountElement.textContent;
            totalDiscountAmount = parseFloat(discountAmountText.replace(/[^\d]/g, ''));
            
            console.log('Applied discount amount from Thymeleaf:', totalDiscountAmount);
        }
    }
    
    // Lấy danh sách mã giảm giá từ Thymeleaf (nếu có)
    const appliedDiscountsList = document.querySelector('.applied_discounts_list');
    if (appliedDiscountsList) {
        const discountItems = appliedDiscountsList.querySelectorAll('.applied_discount_item');
        discountItems.forEach(item => {
            const codeElement = item.querySelector('.discount_code');
            if (codeElement) {
                appliedDiscountCodes.push(codeElement.textContent);
            }
        });
        console.log('Applied discount codes from Thymeleaf:', appliedDiscountCodes);
    }
}

// Hàm cập nhật hiển thị mã giảm giá
function updateDiscountDisplay() {
    const discountRow = document.getElementById('discount-row');
    const discountAmountElement = document.getElementById('discount-amount');
    
    if (appliedDiscountCodes.length > 0 && totalDiscountAmount > 0) {
        discountRow.style.display = 'block';
        if (discountAmountElement) {
            discountAmountElement.textContent = '-' + formatCurrency(totalDiscountAmount);
        }
    } else {
        discountRow.style.display = 'none';
    }
}

// Hàm cập nhật tổng tiền sau giảm giá (không cần thiết vì đã được tính từ server)
function updateTotalWithDiscount() {
    // Tổng tiền đã được tính từ server và hiển thị qua Thymeleaf
    console.log('Total already calculated by server');
}

document.addEventListener('DOMContentLoaded', function() {
    const placeOrderBtn = document.getElementById('place-order-btn');
    const checkoutForm = document.getElementById('checkout-form');
    
    // Khởi tạo mã giảm giá từ Thymeleaf data
    initializeDiscountFromURL();
    
    // Xử lý áp dụng mã giảm giá mới
    const applyNewDiscountBtn = document.getElementById('applyNewDiscountBtn');
    const newDiscountCodeInput = document.getElementById('newDiscountCodeInput');
    
    if (applyNewDiscountBtn) {
        applyNewDiscountBtn.addEventListener('click', applyNewDiscountCode);
    }
    
    if (newDiscountCodeInput) {
        newDiscountCodeInput.addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                applyNewDiscountCode();
            }
        });
    }
    
    // Xử lý đặt hàng
    placeOrderBtn.addEventListener('click', function() {
        if (!validateForm()) {
            return;
        }
        
        // Disable button để tránh double click
        placeOrderBtn.disabled = true;
        placeOrderBtn.textContent = 'Đang xử lý...';
        
        // Lấy dữ liệu từ form
        const formData = {
            ho: document.getElementById('ho').value,
            ten: document.getElementById('ten').value,
            tenCongTy: document.getElementById('tenCongTy').value,
            quocGia: document.getElementById('quocGia').value,
            diaChi1: document.getElementById('diaChi1').value,
            diaChi2: document.getElementById('diaChi2').value,
            thanhPho: document.getElementById('thanhPho').value,
            tinhHuyen: document.getElementById('tinhHuyen').value,
            soDienThoai: document.getElementById('soDienThoai').value,
            email: document.getElementById('email').value,
            ghiChu: document.getElementById('ghiChu').value,
            loaiThanhToan: document.querySelector('input[name="loaiThanhToan"]:checked').value,
            phiGiaoHang: 0, // Phí giao hàng miễn phí
            tongTien: originalSubtotal, // Tổng tiền gốc (trước giảm giá)
            
            // Thông tin mã giảm giá (hỗ trợ nhiều mã)
            maGiamGia: appliedDiscountCodes.length > 0 ? appliedDiscountCodes[0] : null, // Mã đầu tiên (tương thích ngược)
            maGiamGiaList: appliedDiscountCodes, // Danh sách tất cả mã giảm giá
            giaTriGiamGia: totalDiscountAmount,
            tongTienSauGiamGia: parseFloat(document.getElementById('total-amount').textContent.replace(/[^\d]/g, '')), // Tổng tiền sau giảm giá
            
            // Tạo địa chỉ giao hàng đầy đủ
            diaChiGiaoHang: document.getElementById('diaChi1').value + 
                           (document.getElementById('diaChi2').value ? ', ' + document.getElementById('diaChi2').value : '') + 
                           ', ' + document.getElementById('thanhPho').value + 
                           ', ' + document.getElementById('tinhHuyen').value + 
                           ', ' + document.getElementById('quocGia').value,
            
            // Tên người nhận
            tenNguoiNhan: document.getElementById('ho').value + ' ' + document.getElementById('ten').value
        };
        
        // Gọi API đặt hàng
        fetch('/checkout/process', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData)
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Hiển thị thông báo thành công
                showNotification(data.message, 'success');
                
                // Chuyển hướng đến trang đơn hàng sau 2 giây
                setTimeout(() => {
                    window.location.href = '/orders/' + data.orderId;
                }, 2000);
            } else {
                showNotification(data.message, 'error');
                // Reset button
                placeOrderBtn.disabled = false;
                placeOrderBtn.textContent = 'Đặt hàng ngay';
            }
        })
        .catch(error => {
            console.error('Error:', error);
            showNotification('Có lỗi xảy ra khi đặt hàng', 'error');
            // Reset button
            placeOrderBtn.disabled = false;
            placeOrderBtn.textContent = 'Đặt hàng ngay';
        });
    });
    
    // Validate form
    function validateForm() {
        const requiredFields = ['ho', 'ten', 'soDienThoai', 'diaChi1', 'thanhPho', 'tinhHuyen'];
        
        for (let field of requiredFields) {
            const value = document.getElementById(field).value.trim();
            if (!value) {
                showNotification('Vui lòng điền đầy đủ thông tin bắt buộc', 'error');
                document.getElementById(field).focus();
                return false;
            }
        }
        
        // Validate số điện thoại
        const phone = document.getElementById('soDienThoai').value;
        if (!/^[0-9]{10,11}$/.test(phone)) {
            showNotification('Số điện thoại không hợp lệ', 'error');
            document.getElementById('soDienThoai').focus();
            return false;
        }
        
        return true;
    }
    
    // Hàm hiển thị thông báo
    function showNotification(message, type) {
        const notification = document.createElement('div');
        notification.className = `notification notification-${type}`;
        notification.innerHTML = `
            <div class="notification-content">
                <span class="notification-message">${message}</span>
                <button class="notification-close">&times;</button>
            </div>
        `;
        
        document.body.appendChild(notification);
        
        setTimeout(() => {
            notification.classList.add('show');
        }, 100);
        
        setTimeout(() => {
            notification.classList.remove('show');
            setTimeout(() => {
                if (document.body.contains(notification)) {
                    document.body.removeChild(notification);
                }
            }, 300);
        }, 5000);
        
        const closeBtn = notification.querySelector('.notification-close');
        closeBtn.addEventListener('click', () => {
            notification.classList.remove('show');
            setTimeout(() => {
                if (document.body.contains(notification)) {
                    document.body.removeChild(notification);
                }
            }, 300);
        });
    }
});

// Hàm áp dụng mã giảm giá mới
function applyNewDiscountCode() {
    const newDiscountCodeInput = document.getElementById('newDiscountCodeInput');
    const applyNewDiscountBtn = document.getElementById('applyNewDiscountBtn');
    const newDiscountMessage = document.getElementById('newDiscountMessage');
    
    const discountCode = newDiscountCodeInput.value.trim();
    
    if (!discountCode) {
        showNewDiscountMessage('Vui lòng nhập mã giảm giá', 'error');
        return;
    }
    
    // Disable button và input
    applyNewDiscountBtn.disabled = true;
    newDiscountCodeInput.disabled = true;
    applyNewDiscountBtn.textContent = 'Đang xử lý...';
    
    // Tính tổng tiền hiện tại
    const subtotalElement = document.getElementById('subtotal-amount');
    let currentTotal = 0;
    
    if (subtotalElement) {
        const subtotalText = subtotalElement.textContent;
        currentTotal = parseFloat(subtotalText.replace(/[^\d]/g, ''));
    }
    
    // Gọi API validate mã giảm giá
    fetch(`/api/ma-giam-gia/validate?maGiamGia=${encodeURIComponent(discountCode)}&orderTotal=${currentTotal}`)
        .then(response => response.json())
        .then(data => {
            console.log('Discount validation response:', data);
            
            if (data.success && data.valid) {
                // Mã giảm giá hợp lệ - chuyển hướng với mã mới
                const newUrl = new URL(window.location);
                newUrl.searchParams.set('discountCode', discountCode);
                newUrl.searchParams.set('discountAmount', data.discountAmount);
                window.location.href = newUrl.toString();
            } else {
                // Mã giảm giá không hợp lệ
                showNewDiscountMessage(data.message || 'Mã giảm giá không hợp lệ', 'error');
                
                // Reset button
                applyNewDiscountBtn.disabled = false;
                newDiscountCodeInput.disabled = false;
                applyNewDiscountBtn.textContent = 'Áp dụng';
            }
        })
        .catch(error => {
            console.error('Error validating discount code:', error);
            showNewDiscountMessage('Có lỗi xảy ra khi kiểm tra mã giảm giá', 'error');
            
            // Reset button
            applyNewDiscountBtn.disabled = false;
            newDiscountCodeInput.disabled = false;
            applyNewDiscountBtn.textContent = 'Áp dụng';
        });
}

// Hàm hủy mã giảm giá
function removeDiscountCode() {
    // Chuyển hướng về trang checkout không có mã giảm giá
    const newUrl = new URL(window.location);
    newUrl.searchParams.delete('discountCode');
    newUrl.searchParams.delete('discountAmount');
    window.location.href = newUrl.toString();
}

// Hàm hiển thị thông báo mã giảm giá mới
function showNewDiscountMessage(message, type) {
    const newDiscountMessage = document.getElementById('newDiscountMessage');
    if (newDiscountMessage) {
        newDiscountMessage.textContent = message;
        newDiscountMessage.className = `discount-message ${type}`;
        newDiscountMessage.style.display = 'block';
        
        // Tự động ẩn sau 5 giây
        setTimeout(() => {
            newDiscountMessage.style.display = 'none';
        }, 5000);
    }
}
</script>
</body>
</html>
