<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{user/fragments/head :: head}"></head>

<body>
<!--header area start-->
<header th:replace="~{user/fragments/header :: header}"></header>
<!--header area end-->

<!--slider area start-->
<div class="slider_area slider_style owl-carousel">
  <div class="single_slider" th:data-bgimg="@{/fe/img/slider/slide1.jpg}">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="slider_content content_one">
            <img th:src="@{/fe/img/slider/content.png}" alt="">
            <p>the wooboom spring collection is back at half price</p>
            <a href="#">Discover Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="single_slider" th:data-bgimg="@{/fe/img/slider/slide2.jpg}">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="slider_content content_two">
            <img th:src="@{/fe/img/slider/content1.png}" alt="">
            <p>the wooboom jacket collection is back at half price</p>
            <a href="#">Discover Now</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="single_slider" th:data-bgimg="@{/fe/img/slider/slide3.png}">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="slider_content content_three">
            <img th:src="@{/fe/img/slider/content2.png}" alt="">
            <p>the wooboom clothing summer collection is back at half price</p>
            <a href="#">Discover Now</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!--slider area end-->

<!--product section area start-->
<section class="product_section womens_product">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="banner_area">
          <div class="banner_thumb">
            <a href="#"><img th:src="@{/fe/img/bg/banner2.jpg}" alt="#"></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="section_title">
          <h2>For Women's Collection</h2>
          <p>Contemporary, minimal and modern designs embody the Lavish Alice handwriting</p>
        </div>
        <div class="product_area">
          <div class="product_tab_button">
            <ul class="nav" role="tablist">
              <li>
                <a class="active" data-bs-toggle="tab" href="#shirt" role="tab" aria-controls="clothing" aria-selected="true">Áo</a>
              </li>
              <li>
                <a data-bs-toggle="tab" href="#pant" role="tab" aria-controls="handbag" aria-selected="false">Quần</a>
              </li>
              <li>
                <a data-bs-toggle="tab" href="#shoes" role="tab" aria-controls="shoes" aria-selected="false">Giày</a>
              </li>
              <li>
                <a data-bs-toggle="tab" href="#handbag" role="tab" aria-controls="accessories" aria-selected="false">Túi sách</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="shirt" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                                     <div class="col-lg-3" th:each="sanPham : ${sanPhamNuTheoLoai.get('áo')}" th:if="${sanPhamNuTheoLoai.get('áo') != null and !sanPhamNuTheoLoai.get('áo').isEmpty() and sanPham.trangThaiHoatDong == true}">
                     <div class="single_product">
                       <div class="product_thumb">
                         <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                           <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                         </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ quick view</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - sanPham.khuyenMai) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <!-- Hiển thị thông báo nếu không có sản phẩm -->
                  <div class="col-12" th:if="${sanPhamNuTheoLoai.get('áo') == null or sanPhamNuTheoLoai.get('áo').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm Áo nữ nào.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pant" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                                     <div class="col-lg-3" th:each="sanPham : ${sanPhamNuTheoLoai.get('quần')}" th:if="${sanPhamNuTheoLoai.get('quần') != null and !sanPhamNuTheoLoai.get('quần').isEmpty() and sanPham.trangThaiHoatDong == true}">
                     <div class="single_product">
                       <div class="product_thumb">
                         <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                           <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                         </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ quick view</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - sanPham.khuyenMai) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <!-- Hiển thị thông báo nếu không có sản phẩm -->
                  <div class="col-12" th:if="${sanPhamNuTheoLoai.get('quần') == null or sanPhamNuTheoLoai.get('quần').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm Quần nữ nào.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="shoes" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                                     <div class="col-lg-3" th:each="sanPham : ${sanPhamNuTheoLoai.get('giày')}" th:if="${sanPhamNuTheoLoai.get('giày') != null and !sanPhamNuTheoLoai.get('giày').isEmpty() and sanPham.trangThaiHoatDong == true}">
                     <div class="single_product">
                       <div class="product_thumb">
                         <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                           <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                         </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ quick view</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - sanPham.khuyenMai) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <!-- Hiển thị thông báo nếu không có sản phẩm -->
                  <div class="col-12" th:if="${sanPhamNuTheoLoai.get('giày') == null or sanPhamNuTheoLoai.get('giày').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm giày nữ nào.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="handbag" role="tabpanel">
               <div class="product_container">
                 <div class="row product_column3">
                                       <div class="col-lg-3" th:each="sanPham : ${sanPhamNuTheoLoai.get('túi sách')}" th:if="${sanPhamNuTheoLoai.get('túi sách') != null and !sanPhamNuTheoLoai.get('túi sách').isEmpty() and sanPham.trangThaiHoatDong == true}">
                     <div class="single_product">
                       <div class="product_thumb">
                         <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                           <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                         </a>
                         <div class="product_action">
                           <div class="hover_action">
                             <a href="#"><i class="fa fa-plus"></i></a>
                             <div class="action_button">
                               <ul>
                                 <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                 <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                 <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                               </ul>
                             </div>
                           </div>
                         </div>
                         <div class="quick_button">
                           <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ quick view</a>
                         </div>
                         <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                           <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                         </div>
                       </div>
                       <div class="product_content">
                         <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                         <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                         <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - sanPham.khuyenMai) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                       </div>
                     </div>
                   </div>
                   <!-- Hiển thị thông báo nếu không có sản phẩm -->
                   <div class="col-12" th:if="${sanPhamNuTheoLoai.get('túi sách') == null or sanPhamNuTheoLoai.get('túi sách').isEmpty()}">
                     <div class="text-center">
                       <p>Không có sản phẩm Túi sách nữ nào.</p>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--product section area end-->

<!--banner area start-->
<section class="banner_section">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-12">
        <div class="banner_conteiner">
          <div class="banner_text">
            <h1>Game Of Thrones Jaime<br> Lannister <br>Themed Sneakers</h1>
            <a href="shop.html">Discover Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--banner area end-->

<!--product section area start-->
<section class="product_section mens_product">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="section_title">
          <h2>For Men's Collection</h2>
          <p>Contemporary, minimal and modern designs embody the Lavish Alice handwriting</p>
        </div>
        <div class="product_area">
          <div class="product_tab_button">
            <ul class="nav" role="tablist">
              <li>
                <a class="active" data-bs-toggle="tab" href="#shirt2" role="tab" aria-controls="clothing2" aria-selected="true">Áo</a>
              </li>
              <li>
                <a data-bs-toggle="tab" href="#pant2" role="tab" aria-controls="handbag2" aria-selected="false">Quần</a>
              </li>
              <li>
                <a data-bs-toggle="tab" href="#shoes2" role="tab" aria-controls="shoes2" aria-selected="false">Giày</a>
              </li>
              <li>
                <a data-bs-toggle="tab" href="#handbag2" role="tab" aria-controls="accessories2" aria-selected="false">Túi sách</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="shirt2" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                                     <div class="col-lg-3" th:each="sanPham : ${sanPhamNamTheoLoai.get('áo')}" th:if="${sanPhamNamTheoLoai.get('áo') != null and !sanPhamNamTheoLoai.get('áo').isEmpty() and sanPham.trangThaiHoatDong == true}">
                    <div class="single_product">
                      <div class="product_thumb">
                        <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                          <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                        </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ quick view</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - sanPham.khuyenMai) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12" th:if="${sanPhamNamTheoLoai.get('áo') == null or sanPhamNamTheoLoai.get('áo').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm Áo nam nào.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pant2" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                                     <div class="col-lg-3" th:each="sanPham : ${sanPhamNamTheoLoai.get('quần')}" th:if="${sanPhamNamTheoLoai.get('quần') != null and !sanPhamNamTheoLoai.get('quần').isEmpty() and sanPham.trangThaiHoatDong == true}">
                    <div class="single_product">
                      <div class="product_thumb">
                        <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                          <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                        </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ quick view</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - sanPham.khuyenMai) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <!-- Hiển thị thông báo nếu không có sản phẩm -->
                  <div class="col-12" th:if="${sanPhamNamTheoLoai.get('quần') == null or sanPhamNamTheoLoai.get('quần').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm Quần nam nào.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="shoes2" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                  <!-- Dynamic Giày nam -->
                  <div class="col-lg-3" th:each="sanPham : ${sanPhamNamTheoLoai.get('giày')}" th:if="${sanPhamNamTheoLoai.get('giày') != null and !sanPhamNamTheoLoai.get('giày').isEmpty() and sanPham.trangThaiHoatDong == true}">
                    <div class="single_product">
                      <div class="product_thumb">
                        <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                          <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                        </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ quick view</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - sanPham.khuyenMai) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <!-- Fallback Giày nam -->
                  <div class="col-12" th:if="${sanPhamNamTheoLoai.get('giày') == null or sanPhamNamTheoLoai.get('giày').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm Giày nam nào.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="handbag2" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                                                                           <div class="col-lg-3" th:each="sanPham : ${sanPhamNamTheoLoai.get('túi sách')}" th:if="${sanPhamNamTheoLoai.get('túi sách') != null and !sanPhamNamTheoLoai.get('túi sách').isEmpty() and sanPham.trangThaiHoatDong == true}">
                    <div class="single_product">
                      <div class="product_thumb">
                        <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                          <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                        </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="cart.html"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="wishlist.html" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="compare.html" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ quick view</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - sanPham.khuyenMai) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <!-- Fallback Túi sách nam -->
                  <div class="col-12" th:if="${sanPhamNamTheoLoai.get('túi sách') == null or sanPhamNamTheoLoai.get('túi sách').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm Túi sách nam nào.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="banner_area">
          <div class="banner_thumb">
            <a href="#"><img th:src="@{/fe/img/bg/banner4.jpg}" alt="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--product section area end-->

<!--blog section area start-->
<section class="blog_section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section_title">
          <h2>Latest Blogs</h2>
          <p>Contemporary, minimal and modern designs embody the Lavish Alice handwriting</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="blog_wrapper blog_column3 owl-carousel">
        <div class="col-lg-4">
          <div class="single_blog">
            <div class="blog_thumb">
              <a href="#"><img th:src="@{/fe/img/blog/blog1.jpg}" alt=""></a>
              <div class="blog_icon">
                <a href="#"></a>
              </div>
            </div>
            <div class="blog_content">
              <h3><a href="#">Mercedes Benz– Mirror To The Soul 360</a></h3>
              <div class="author_name">
                <p>
                  <span class="post_by">by</span>
                  <span class="themes">ecommerce Themes</span>
                  / 30 Oct 2017
                </p>
              </div>
              <div class="post_desc">
                <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single_blog">
            <div class="blog_thumb">
              <a href="#"><img th:src="@{/fe/img/blog/blog2.jpg}" alt=""></a>
              <div class="blog_icon">
                <a href="#"></a>
              </div>
            </div>
            <div class="blog_content">
              <h3><a href="#">Dior F/W 2015 First Fashion Experience</a></h3>
              <div class="author_name">
                <p>
                  <span class="post_by">by</span>
                  <span class="themes">ecommerce Themes</span>
                  / 30 Oct 2017
                </p>

              </div>
              <div class="post_desc">
                <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single_blog">
            <div class="blog_thumb">
              <a href="#"><img th:src="@{/fe/img/blog/blog3.jpg}" alt=""></a>
              <div class="blog_icon">
                <a href="#"></a>
              </div>
            </div>
            <div class="blog_content">
              <h3><a href="#">London Fashion Week & Royal Day</a></h3>
              <div class="author_name">
                <p>
                  <span class="post_by">by</span>
                  <span class="themes">ecommerce Themes</span>
                  / 30 Oct 2017
                </p>

              </div>
              <div class="post_desc">
                <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single_blog">
            <div class="blog_thumb">
              <a href="#"><img th:src="@{/fe/img/blog/blog2.jpg}" alt=""></a>
              <div class="blog_icon">
                <a href="#"></a>
              </div>
            </div>
            <div class="blog_content">
              <h3><a href="#">Best of New York Spring/Summer 2016</a></h3>
              <div class="author_name">
                <p>
                  <span class="post_by">by</span>
                  <span class="themes">ecommerce Themes</span>
                  / 30 Oct 2017
                </p>

              </div>
              <div class="post_desc">
                <p>Maria Denardo is the Fashion Director at theFashionSpot. Prior to joining tFS, she worked as...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--blog section area end-->

<!--New Product start-->
<section class="instagram_area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="section_title">
          <h2>New Products</h2>
        </div>
      </div>
    </div>
    <div class="instagram_home_block">
      <div class="row">
        <div class="instagram_wrapper instagram_column5 owl-carousel">
          <div class="col-lg-3">
            <div class="single_instagram">
              <a href="#"><img th:src="@{/fe/img/about/intagram.png}" alt=""></a>
              <div class="instagram_icone">
                <a class="instagram_pupop" th:href="@{/fe/img/about/intagram.png}"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single_instagram">
              <a href="#"><img th:src="@{/fe/img/about/intagram1.png}" alt=""></a>
              <div class="instagram_icone">
                <a class="instagram_pupop" th:href="@{/fe/img/about/intagram1.png}"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single_instagram">
              <a href="#"><img th:src="@{/fe/img/about/intagram2.png}" alt=""></a>
              <div class="instagram_icone">
                <a class="instagram_pupop" th:href="@{/fe/img/about/intagram2.png}"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single_instagram">
              <a href="#"><img th:src="@{/fe/img/about/intagram3(1).png}" alt=""></a>
              <div class="instagram_icone">
                <a class="instagram_pupop" th:href="@{/fe/img/about/intagram3(1).png}"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single_instagram">
              <a href="#"><img th:src="@{/fe/img/about/intagram4(1).png}" alt=""></a>
              <div class="instagram_icone">
                <a class="instagram_pupop" th:href="@{/fe/img/about/intagram4(1).png}"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="single_instagram">
              <a href="#"><img th:src="@{/fe/img/about/intagram1.png}" alt=""></a>
              <div class="instagram_icone">
                <a class="instagram_pupop" th:href="@{/fe/img/about/intagram1.png}"><i class="fa fa-instagram"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--New Product start-->

<!--footer area start-->
<footer th:replace="~{user/fragments/footer :: footer}"></footer>
<!--footer area end-->

<!-- modal area start-->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal_body">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
              <div class="modal_tab">
                <div style="text-align:center">
                  <img id="qv-image" th:src="@{/fe/img/product/product4.jpg}" alt="" style="max-width:100%;height:auto" />
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
              <div class="modal_right">
                <div class="modal_title mb-10">
                  <h2 id="qv-title"></h2>
                </div>
                <div class="modal_price mb-10">
                  <span class="new_price" id="qv-price"></span>
                  <span class="old_price" id="qv-old-price" style="display:none"></span>
                </div>
                <div class="modal_description mb-15">
                  <p id="qv-description"></p>
                </div>
                <div class="variants_selects">
                  <div class="variants_size">
                    <h2>size</h2>
                    <select id="qv-size" class="select_option">
                      <option value="">Chọn size</option>
                    </select>
                  </div>
                  <div class="variants_color">
                    <h2>color</h2>
                    <select id="qv-color" class="select_option">
                      <option value="">Chọn màu</option>
                    </select>
                  </div>
                  <div style="margin-top:10px">
                    <span>Tồn kho: </span><strong id="qv-stock">0</strong>
                  </div>
                  <div class="modal_add_to_cart">
                    <form action="#">
                      <input id="qv-qty" min="1" max="100" step="1" value="1" type="number">
                      <button type="button" id="qv-add">add to cart</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal area start-->

<script th:src="@{/fe/js/plugins.js}"></script>
<script th:src="@{/fe/js/main.js}"></script>
<script th:src="@{/fe/js/quick-view.js}"></script>
<script th:src="@{/js/chatbot.js}"></script>
</body>
</html>