<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{user/fragments/head :: head}"></head>

<body>
<!--header area start-->
<header th:replace="~{user/fragments/header :: header}"></header>
<!--header area end-->

<!--slider area start-->
<div class="slider_area slider_style owl-carousel">
  <div class="single_slider" th:data-bgimg="@{/fe/img/slider/slide1.jpg}">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="slider_content content_one">
            <img th:src="@{/fe/img/slider/content.png}" alt="">
            <p>Bộ sưu tập mùa xuân của Wooboom đã trở lại với mức giá chỉ bằng một nửa</p>
            <a href="#">Khám phá ngay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="single_slider" th:data-bgimg="@{/fe/img/slider/slide2.jpg}">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="slider_content content_two">
            <img th:src="@{/fe/img/slider/content1.png}" alt="">
            <p>Bộ sưu tập áo khoác wooboom đã trở lại với mức giá chỉ bằng một nửa</p>
            <a href="#">Khám phá ngay</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="single_slider" th:data-bgimg="@{/fe/img/slider/slide3.png}">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="slider_content content_three">
            <img th:src="@{/fe/img/slider/content2.png}" alt="">
            <p>Bộ sưu tập quần áo mùa hè của Wooboom đã trở lại với mức giá chỉ bằng một nửa</p>
            <a href="#">Khám phá ngay</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!--slider area end-->

<!--product section area start-->
<section class="product_section womens_product">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="banner_area">
          <div class="banner_thumb">
            <a href="#"><img th:src="@{/fe/img/bg/banner2.jpg}" alt="#"></a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="section_title">
          <h2>Bộ Sưu Tập Dành Cho Phụ Nữ</h2>
          <p>Thiết kế đương đại, tối giản và hiện đại thể hiện nét chữ viết tay Lavish Alice</p>
        </div>
        <div class="product_area">
          <div class="product_tab_button">
            <ul class="nav" role="tablist">
              <li>
                <a class="active" data-bs-toggle="tab" href="#shirt" role="tab" aria-controls="clothing" aria-selected="true">Áo</a>
              </li>
              <li>
                <a data-bs-toggle="tab" href="#pant" role="tab" aria-controls="handbag" aria-selected="false">Quần</a>
              </li>
              <li>
                <a data-bs-toggle="tab" href="#shoes" role="tab" aria-controls="shoes" aria-selected="false">Giày</a>
              </li>
              <li>
                <a data-bs-toggle="tab" href="#handbag" role="tab" aria-controls="accessories" aria-selected="false">Túi sách</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="shirt" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                                     <div class="col-lg-3" th:each="sanPham : ${sanPhamNuTheoLoai.get('áo')}" th:if="${sanPhamNuTheoLoai.get('áo') != null and !sanPhamNuTheoLoai.get('áo').isEmpty() and sanPham.trangThaiHoatDong == true}">
                     <div class="single_product">
                       <div class="product_thumb">
                         <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                           <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                         </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ xem nhanh</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - (sanPham.khuyenMai != null ? sanPham.khuyenMai : 0)) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <!-- Hiển thị thông báo nếu không có sản phẩm -->
                  <div class="col-12" th:if="${sanPhamNuTheoLoai.get('áo') == null or sanPhamNuTheoLoai.get('áo').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm Áo nữ nào.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pant" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                                     <div class="col-lg-3" th:each="sanPham : ${sanPhamNuTheoLoai.get('quần')}" th:if="${sanPhamNuTheoLoai.get('quần') != null and !sanPhamNuTheoLoai.get('quần').isEmpty() and sanPham.trangThaiHoatDong == true}">
                     <div class="single_product">
                       <div class="product_thumb">
                         <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                           <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                         </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ xem nhanh</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - (sanPham.khuyenMai != null ? sanPham.khuyenMai : 0)) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <!-- Hiển thị thông báo nếu không có sản phẩm -->
                  <div class="col-12" th:if="${sanPhamNuTheoLoai.get('quần') == null or sanPhamNuTheoLoai.get('quần').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm Quần nữ nào.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="shoes" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                                     <div class="col-lg-3" th:each="sanPham : ${sanPhamNuTheoLoai.get('giày')}" th:if="${sanPhamNuTheoLoai.get('giày') != null and !sanPhamNuTheoLoai.get('giày').isEmpty() and sanPham.trangThaiHoatDong == true}">
                     <div class="single_product">
                       <div class="product_thumb">
                         <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                           <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                         </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ xem nhanh</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - (sanPham.khuyenMai != null ? sanPham.khuyenMai : 0)) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <!-- Hiển thị thông báo nếu không có sản phẩm -->
                  <div class="col-12" th:if="${sanPhamNuTheoLoai.get('giày') == null or sanPhamNuTheoLoai.get('giày').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm giày nữ nào.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="handbag" role="tabpanel">
               <div class="product_container">
                 <div class="row product_column3">
                                       <div class="col-lg-3" th:each="sanPham : ${sanPhamNuTheoLoai.get('túi sách')}" th:if="${sanPhamNuTheoLoai.get('túi sách') != null and !sanPhamNuTheoLoai.get('túi sách').isEmpty() and sanPham.trangThaiHoatDong == true}">
                     <div class="single_product">
                       <div class="product_thumb">
                         <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                           <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                         </a>
                         <div class="product_action">
                           <div class="hover_action">
                             <a href="#"><i class="fa fa-plus"></i></a>
                             <div class="action_button">
                               <ul>
                                 <li><a title="add to cart" href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                 <li><a href="#" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                 <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                               </ul>
                             </div>
                           </div>
                         </div>
                         <div class="quick_button">
                           <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ xem nhanh</a>
                         </div>
                         <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                           <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                         </div>
                       </div>
                       <div class="product_content">
                         <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                         <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                         <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - sanPham.khuyenMai) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                       </div>
                     </div>
                   </div>
                   <!-- Hiển thị thông báo nếu không có sản phẩm -->
                   <div class="col-12" th:if="${sanPhamNuTheoLoai.get('túi sách') == null or sanPhamNuTheoLoai.get('túi sách').isEmpty()}">
                     <div class="text-center">
                       <p>Không có sản phẩm Túi sách nữ nào.</p>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--product section area end-->

<!--banner area start-->
<section class="banner_section">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-12">
        <div class="banner_conteiner">
          <div class="banner_text">
            <h1>Bộ sưu tập quần áo mùa hè của<br> Wooboom đã trở lại <br>với mức giá chỉ bằng một nửa</h1>
            <a href="#">Khám phá ngay</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--banner area end-->

<!--product section area start-->
<section class="product_section mens_product">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="section_title">
          <h2>Bộ Sưu Tập Dành Cho Nam Giới</h2>
          <p>Thiết kế đương đại, tối giản và hiện đại thể hiện nét chữ viết tay Lavish Alice</p>
        </div>
        <div class="product_area">
          <div class="product_tab_button">
            <ul class="nav" role="tablist">
              <li>
                <a class="active" data-bs-toggle="tab" href="#shirt2" role="tab" aria-controls="clothing2" aria-selected="true">Áo</a>
              </li>
              <li>
                <a data-bs-toggle="tab" href="#pant2" role="tab" aria-controls="handbag2" aria-selected="false">Quần</a>
              </li>
              <li>
                <a data-bs-toggle="tab" href="#shoes2" role="tab" aria-controls="shoes2" aria-selected="false">Giày</a>
              </li>
              <li>
                <a data-bs-toggle="tab" href="#handbag2" role="tab" aria-controls="accessories2" aria-selected="false">Túi sách</a>
              </li>
            </ul>
          </div>
          <div class="tab-content">
            <div class="tab-pane fade show active" id="shirt2" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                                     <div class="col-lg-3" th:each="sanPham : ${sanPhamNamTheoLoai.get('áo')}" th:if="${sanPhamNamTheoLoai.get('áo') != null and !sanPhamNamTheoLoai.get('áo').isEmpty() and sanPham.trangThaiHoatDong == true}">
                    <div class="single_product">
                      <div class="product_thumb">
                        <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                          <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                        </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ xem nhanh</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - (sanPham.khuyenMai != null ? sanPham.khuyenMai : 0)) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-12" th:if="${sanPhamNamTheoLoai.get('áo') == null or sanPhamNamTheoLoai.get('áo').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm Áo nam nào.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pant2" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                                     <div class="col-lg-3" th:each="sanPham : ${sanPhamNamTheoLoai.get('quần')}" th:if="${sanPhamNamTheoLoai.get('quần') != null and !sanPhamNamTheoLoai.get('quần').isEmpty() and sanPham.trangThaiHoatDong == true}">
                    <div class="single_product">
                      <div class="product_thumb">
                        <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                          <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                        </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ xem nhanh</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - (sanPham.khuyenMai != null ? sanPham.khuyenMai : 0)) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <!-- Hiển thị thông báo nếu không có sản phẩm -->
                  <div class="col-12" th:if="${sanPhamNamTheoLoai.get('quần') == null or sanPhamNamTheoLoai.get('quần').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm Quần nam nào.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="shoes2" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                  <!-- Dynamic Giày nam -->
                  <div class="col-lg-3" th:each="sanPham : ${sanPhamNamTheoLoai.get('giày')}" th:if="${sanPhamNamTheoLoai.get('giày') != null and !sanPhamNamTheoLoai.get('giày').isEmpty() and sanPham.trangThaiHoatDong == true}">
                    <div class="single_product">
                      <div class="product_thumb">
                        <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                          <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                        </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ xem nhanh</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - (sanPham.khuyenMai != null ? sanPham.khuyenMai : 0)) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <!-- Fallback Giày nam -->
                  <div class="col-12" th:if="${sanPhamNamTheoLoai.get('giày') == null or sanPhamNamTheoLoai.get('giày').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm Giày nam nào.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="handbag2" role="tabpanel">
              <div class="product_container">
                <div class="row product_column3">
                                                                           <div class="col-lg-3" th:each="sanPham : ${sanPhamNamTheoLoai.get('túi sách')}" th:if="${sanPhamNamTheoLoai.get('túi sách') != null and !sanPhamNamTheoLoai.get('túi sách').isEmpty() and sanPham.trangThaiHoatDong == true}">
                    <div class="single_product">
                      <div class="product_thumb">
                        <a class="primary_img" th:href="@{'/product-details/' + ${sanPham.id}}">
                          <img th:if="${sanPham.images != null and !sanPham.images.isEmpty()}" th:src="${sanPham.images[0].imageName}" th:alt="${sanPham.ten}">
                        </a>
                        <div class="product_action">
                          <div class="hover_action">
                            <a href="#"><i class="fa fa-plus"></i></a>
                            <div class="action_button">
                              <ul>
                                <li><a title="add to cart" href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="quick_button">
                          <a href="#" class="btn-quick-view" th:attr="data-product-id=${sanPham.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ xem nhanh</a>
                        </div>
                        <div class="product_sale" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}">
                          <span th:text="'-' + ${sanPham.khuyenMai} + '%'"></span>
                        </div>
                      </div>
                      <div class="product_content">
                        <h3><a th:href="@{'/product-details/' + ${sanPham.id}}" th:text="${sanPham.ten}"></a></h3>
                        <span class="current_price" th:text="${#numbers.formatDecimal(sanPham.giaBan * (100 - (sanPham.khuyenMai != null ? sanPham.khuyenMai : 0)) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                        <span class="old_price" th:if="${sanPham.khuyenMai != null and sanPham.khuyenMai > 0}" th:text="${#numbers.formatDecimal(sanPham.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}"></span>
                      </div>
                    </div>
                  </div>
                  <!-- Fallback Túi sách nam -->
                  <div class="col-12" th:if="${sanPhamNamTheoLoai.get('túi sách') == null or sanPhamNamTheoLoai.get('túi sách').isEmpty()}">
                    <div class="text-center">
                      <p>Không có sản phẩm Túi sách nam nào.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="banner_area">
          <div class="banner_thumb">
            <a href="#"><img th:src="@{/fe/img/bg/banner4.jpg}" alt="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--product section area end-->

<!--New Product start-->
<section class="product_section newest_product">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section_title">
          <h2>Sản Phẩm Mới</h2>
          <p>Khám phá những sản phẩm mới nhất từ cửa hàng của chúng tôi</p>
        </div>
      </div>
    </div>
    <div class="product_area">
      <div class="row">
        <div class="col-12">
          <div class="product_carousel product_three_column4" id="newestProductsContainer">
            <!-- Newest products will be loaded here by JavaScript -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--New Product end-->


<!--blog section area start-->
<section class="blog_section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section_title">
          <h2>Blog mới nhất</h2>
          <p>Thiết kế đương đại, tối giản và hiện đại thể hiện nét chữ viết tay Lavish Alice</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="blog_wrapper blog_column3 owl-carousel">
        <div class="col-lg-4">
          <div class="single_blog">
            <div class="blog_thumb">
              <a href="#"><img th:src="@{/fe/img/blog/blog1.jpg}" alt=""></a>
              <div class="blog_icon">
                <a href="#"></a>
              </div>
            </div>
            <div class="blog_content">
              <h3><a href="#">Mercedes Benz – Gương soi tâm hồn 360</a></h3>
              <div class="author_name">
                <p>
                  <span class="post_by">qua</span>
                  <span class="themes">Chủ đề thương mại điện tử</span>
                  / 30 tháng 10 năm 2017
                </p>
              </div>
              <div class="post_desc">
                <p>Maria Denardo là Giám đốc Thời trang tại theFashionSpot. Trước khi gia nhập tFS, cô từng làm việc tại...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single_blog">
            <div class="blog_thumb">
              <a href="#"><img th:src="@{/fe/img/blog/blog2.jpg}" alt=""></a>
              <div class="blog_icon">
                <a href="#"></a>
              </div>
            </div>
            <div class="blog_content">
              <h3><a href="#">Trải nghiệm thời trang đầu tiên của Dior Thu/Đông 2015</a></h3>
              <div class="author_name">
                <p>
                  <span class="post_by">qua</span>
                  <span class="themes">Chủ đề thương mại điện tử</span>
                  / 30 tháng 10 năm 2017
                </p>

              </div>
              <div class="post_desc">
                <p>Maria Denardo là Giám đốc Thời trang tại theFashionSpot. Trước khi gia nhập tFS, cô từng làm việc tại...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single_blog">
            <div class="blog_thumb">
              <a href="#"><img th:src="@{/fe/img/blog/blog3.jpg}" alt=""></a>
              <div class="blog_icon">
                <a href="#"></a>
              </div>
            </div>
            <div class="blog_content">
              <h3><a href="#">Tuần lễ thời trang London và Ngày Hoàng gia</a></h3>
              <div class="author_name">
                <p>
                  <span class="post_by">qua</span>
                  <span class="themes">Chủ đề thương mại điện tử</span>
                  / 30 tháng 10 năm 2017
                </p>

              </div>
              <div class="post_desc">
                <p>Maria Denardo là Giám đốc Thời trang tại theFashionSpot. Trước khi gia nhập tFS, cô từng làm việc tại...</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="single_blog">
            <div class="blog_thumb">
              <a href="#"><img th:src="@{/fe/img/blog/blog2.jpg}" alt=""></a>
              <div class="blog_icon">
                <a href="#"></a>
              </div>
            </div>
            <div class="blog_content">
              <h3><a href="#">Những bộ sưu tập đẹp nhất của New York Xuân/Hè 2016</a></h3>
              <div class="author_name">
                <p>
                  <span class="post_by">qua</span>
                  <span class="themes">Chủ đề thương mại điện tử</span>
                  / 30 tháng 10 năm 2017
                </p>

              </div>
              <div class="post_desc">
                <p>Maria Denardo là Giám đốc Thời trang tại theFashionSpot. Trước khi gia nhập tFS, cô từng làm việc tại...</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--blog section area end-->

<!--footer area start-->
<footer th:replace="~{user/fragments/footer :: footer}"></footer>
<!--footer area end-->

<!-- modal area start-->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal_body">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
              <div class="modal_tab">
                <div style="text-align:center">
                  <img id="qv-image" th:src="@{/fe/img/product/product4.jpg}" alt="" style="max-width:100%;height:auto" />
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
              <div class="modal_right">
                <div class="modal_title mb-10">
                  <h2 id="qv-title"></h2>
                </div>
                <div class="modal_price mb-10">
                  <span class="new_price" id="qv-price"></span>
                  <span class="old_price" id="qv-old-price" style="display:none"></span>
                </div>
                <div class="modal_description mb-15">
                  <p id="qv-description"></p>
                </div>
                <div class="variants_selects">
                  <div class="variants_size">
                    <h2>Kích cỡ</h2>
                    <select id="qv-size" class="select_option">
                      <option value="">Chọn kích cỡ</option>
                    </select>
                  </div>
                  <div class="variants_color">
                    <h2>Màu sắc</h2>
                    <select id="qv-color" class="select_option">
                      <option value="">Chọn màu</option>
                    </select>
                  </div>
                  <div style="margin-top:10px">
                    <span>Tồn kho: </span><strong id="qv-stock">0</strong>
                  </div>
                  <div class="modal_add_to_cart">
                    <form action="#">
                      <input id="qv-qty" min="1" max="100" step="1" value="1" type="number">
                      <button type="button" id="qv-add">Thêm vào giỏ hàng</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal area start-->

<script th:src="@{/fe/js/plugins.js}"></script>
<script th:src="@{/fe/js/main.js}"></script>
<script th:src="@{/fe/js/quick-view.js}"></script>
<script th:src="@{/js/chatbot.js}"></script>

<!-- Pass server-side data to JavaScript -->
<script th:inline="javascript">
  window.newestProductsData = /*[[${newestProducts}]]*/ [];
  console.log('Newest products data from server:', window.newestProductsData);
  console.log('Newest products count:', window.newestProductsData ? window.newestProductsData.length : 0);
  
  // Debug: Check if we have any products
  if (window.newestProductsData && window.newestProductsData.length > 0) {
    console.log('First product:', window.newestProductsData[0]);
  } else {
    console.log('No newest products data available');
  }
</script>

<!-- Newest Products Carousel Script -->
<script>
  let newestProductsData = [];
  let newestCurrentIndex = 0;
  let newestVisibleProducts = 4; // Show 4 products at a time
  let newestIsAnimating = false;

  // Initialize newest products carousel when page loads
  document.addEventListener('DOMContentLoaded', function() {
    if (window.newestProductsData && window.newestProductsData.length > 0) {
      newestProductsData = window.newestProductsData;
      initNewestProductsCarousel();
    } else {
      console.log('No newest products to display');
      showNewestProductsFallback();
    }
  });

  function initNewestProductsCarousel() {
    const container = document.getElementById('newestProductsContainer');
    if (!container) return;

    // Filter active products
    const activeProducts = newestProductsData.filter(product => product.trangThaiHoatDong === true);
    
    if (activeProducts.length === 0) {
      showNewestProductsFallback();
      return;
    }

    newestProductsData = activeProducts;
    newestCurrentIndex = 0;

    // Create carousel structure
    const carouselHTML = `
      <div class="newest-products-carousel">
        <div class="carousel-container">
          <button class="carousel-btn prev-btn" onclick="previousNewestProduct()" ${newestProductsData.length <= newestVisibleProducts ? 'style="display:none;"' : ''}>
            <i class="fa fa-chevron-left"></i>
          </button>
          <div class="products-display">
            <div class="slider-wrapper">
              <div class="slider-container" id="newestSliderContainer">
                ${getAllNewestProductsHTML()}
              </div>
            </div>
          </div>
          <button class="carousel-btn next-btn" onclick="nextNewestProduct()" ${newestProductsData.length <= newestVisibleProducts ? 'style="display:none;"' : ''}>
            <i class="fa fa-chevron-right"></i>
          </button>
        </div>
      </div>
    `;

    container.innerHTML = carouselHTML;

    // Add CSS styles
    addNewestProductsCarouselStyles();
    
    // Initialize slider position
    updateNewestSliderPosition();
  }

  function getAllNewestProductsHTML() {
    let html = '';
    for (let i = 0; i < newestProductsData.length; i++) {
      const product = newestProductsData[i];
      html += `
        <div class="slider-page">
          <div class="newest-products-grid">
            <div class="single_product">
              <div class="product_thumb">
                <a class="primary_img" href="/product-details/${product.id}">
                  <img src="${product.images && product.images.length > 0 ? product.images[0].imageName : '/fe/img/product/default-product.jpg'}" alt="${product.ten}">
                </a>
                <div class="product_action">
                  <div class="hover_action">
                    <a href="#"><i class="fa fa-plus"></i></a>
                    <div class="action_button">
                      <ul>
                        <li><a title="add to cart" href="#"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                        <li><a href="#" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                        <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="quick_button">
                  <a href="#" class="btn-quick-view" data-product-id="${product.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ xem nhanh</a>
                </div>
                <div class="product_sale" ${product.khuyenMai && product.khuyenMai > 0 ? '' : 'style="display:none;"'}>
                  <span>-${product.khuyenMai || 0}%</span>
                </div>
              </div>
              <div class="product_content">
                <h3><a href="/product-details/${product.id}">${product.ten}</a></h3>
                <span class="current_price">${formatPrice(product.giaBan * (100 - (product.khuyenMai || 0)) / 100)} VNĐ</span>
                <span class="old_price" ${product.khuyenMai && product.khuyenMai > 0 ? '' : 'style="display:none;"'}>${formatPrice(product.giaBan)} VNĐ</span>
              </div>
            </div>
          </div>
        </div>
      `;
    }
    return html;
  }

  function formatPrice(price) {
    return new Intl.NumberFormat('vi-VN').format(Math.round(price));
  }

  function addNewestProductsCarouselStyles() {
    if (document.getElementById('newestProductsCarouselStyles')) return;

    const style = document.createElement('style');
    style.id = 'newestProductsCarouselStyles';
    style.textContent = `
      .newest-products-carousel {
        width: 100%;
        margin: 20px 0;
      }
      
      .newest-products-carousel .carousel-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
      }
      
      .newest-products-carousel .carousel-btn {
        background: #333;
        color: white;
        border: none;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.3s;
        font-size: 18px;
        flex-shrink: 0;
      }
      
      .newest-products-carousel .carousel-btn:hover {
        background: #555;
      }
      
      .newest-products-carousel .carousel-btn:disabled {
        background: #ccc;
        cursor: not-allowed;
      }
      
      .newest-products-carousel .products-display {
        flex: 1;
        overflow: hidden;
        position: relative;
      }
      
      .newest-products-carousel .slider-wrapper {
        width: 100%;
        overflow: hidden;
      }
      
      .newest-products-carousel .slider-container {
        display: flex;
        transition: transform 0.3s ease-in-out;
        width: 100%;
      }
      
      .newest-products-carousel .slider-page {
        min-width: 25%; /* Each slide shows 1/4 of the container (1 product out of 4) */
        flex-shrink: 0;
        padding: 0 10px; /* Add horizontal spacing between products */
      }
      
      .newest-products-carousel .newest-products-grid {
        display: grid;
        grid-template-columns: 1fr; /* Single column for each slide */
        gap: 0;
        height: 100%;
      }
      
      .newest-products-carousel .single_product {
        width: 100%;
        margin: 0;
      }
      
      .newest-products-carousel .single_product .product_thumb img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
      
      @media (max-width: 1200px) {
        .newest-products-carousel .slider-page {
          min-width: 33.333%; /* Show 3 products on tablet */
          padding: 0 8px; /* Slightly less padding on tablet */
        }
        .newest-products-carousel .carousel-btn {
          width: 45px;
          height: 45px;
          font-size: 16px;
        }
      }
      
      @media (max-width: 768px) {
        .newest-products-carousel .slider-page {
          min-width: 50%; /* Show 2 products on mobile */
          padding: 0 6px; /* Less padding on mobile */
        }
        .newest-products-carousel .carousel-btn {
          width: 40px;
          height: 40px;
          font-size: 14px;
        }
      }
      
      @media (max-width: 480px) {
        .newest-products-carousel .slider-page {
          min-width: 100%; /* Show 1 product on small mobile */
          padding: 0 5px; /* Minimal padding on small mobile */
        }
        .newest-products-carousel .carousel-btn {
          width: 35px;
          height: 35px;
          font-size: 12px;
        }
      }
    `;
    document.head.appendChild(style);
  }

  function updateNewestSliderPosition() {
    const slider = document.getElementById('newestSliderContainer');
    if (!slider) return;

    const slideWidth = 100 / newestVisibleProducts;
    const translateX = -(newestCurrentIndex * slideWidth);
    slider.style.transform = `translateX(${translateX}%)`;

    // Update button states
    const prevBtn = document.querySelector('.newest-products-carousel .prev-btn');
    const nextBtn = document.querySelector('.newest-products-carousel .next-btn');
    
    if (prevBtn) {
      prevBtn.disabled = newestCurrentIndex === 0;
    }
    if (nextBtn) {
      nextBtn.disabled = newestCurrentIndex >= newestProductsData.length - newestVisibleProducts;
    }
  }

  function showNewestProductsFallback() {
    const container = document.getElementById('newestProductsContainer');
    if (container) {
      container.innerHTML = `
        <div class="text-center">
          <p>Chưa có sản phẩm mới nào.</p>
        </div>
      `;
    }
  }

  // Global functions for carousel navigation
  window.nextNewestProduct = function() {
    if (newestIsAnimating) return;
    const maxIndex = newestProductsData.length - newestVisibleProducts;
    if (newestCurrentIndex < maxIndex) {
      newestCurrentIndex++;
      updateNewestSliderPosition();
      
      newestIsAnimating = true;
      setTimeout(() => {
        newestIsAnimating = false;
      }, 300);
    }
  };

  window.previousNewestProduct = function() {
    if (newestIsAnimating) return;
    if (newestCurrentIndex > 0) {
      newestCurrentIndex--;
      updateNewestSliderPosition();
      
      newestIsAnimating = true;
      setTimeout(() => {
        newestIsAnimating = false;
      }, 300);
    }
  };
</script>
</body>
</html>