<!doctype html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" lang="en">


<head th:replace="~{user/fragments/head :: head}">
    <link rel="stylesheet" th:href="@{/fe/css/price-filter.css}">
</head>

<body>

<!--header area start-->
<header th:replace="~{user/fragments/header :: header}"></header>
<!--header area end-->

<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="index.html">home</a></li>
                        <li>/</li>
                        <li>shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->

<!--shop  area start-->
<div class="shop_area shop_reverse">
    <div class="container">
        <div class="shop_inner_area">
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <!--sidebar widget start-->
                    <div class="sidebar_widget">
                        <div class="widget_list widget_filter">
                            <h2>Filter by price</h2>
                            <form id="price-filter-form" method="get">
                                <div id="slider-range"></div>
                                <div class="price-inputs">
                                    <input type="text" id="min-price" name="minPrice" readonly>
                                    <input type="text" id="max-price" name="maxPrice" readonly>
                                </div>
                                <button type="submit">Filter</button>
                            </form>
                        </div>
                        <div class="widget_list widget_categories">
                            <h2>Product categories</h2>
                            <ul>
                                <li th:each="category : ${categories}">
                                    <a th:href="@{/shop(categoryId=${category.id}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, sort=${param.sort})}" 
                                       th:text="${category.ten}">
                                        Category
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="widget_list widget_categories">
                            <h2>Manufacturer</h2>
                            <ul>
                                <li th:each="brand : ${brands}">
                                    <a th:href="@{/shop(brandId=${brand.id}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, sort=${param.sort})}" 
                                       th:text="${brand.ten}">
                                        Brand
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_list widget_categories">
                            <h2>Select By Color</h2>
                            <ul>
                                <li th:each="color : ${colors}">
                                    <a th:href="@{/shop(colorId=${color.id}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, sort=${param.sort})}" 
                                       th:text="${color.maMau}">
                                        Color
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="widget_list tag-cloud">
                            <h2>Popular Tags</h2>
                            <div class="tag_widget">
                                <ul>
                                    <li th:each="tag : ${popularTags}">
                                        <a th:href="@{/shop(tag=${tag}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, sort=${param.sort})}" 
                                           th:text="${tag}">
                                            Tag
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <!--sidebar widget end-->
                </div>
                <div class="col-lg-9 col-md-12">
                    <!--shop wrapper start-->
                    <!--shop toolbar start-->
                    <div class="shop_title">
                        <h1>shop</h1>
                    </div>
                    <div class="shop_toolbar_wrapper">
                        <div class="shop_toolbar_btn">

                            <button data-role="grid_3" type="button" class="active btn-grid-3" data-bs-toggle="tooltip" title="3"></button>

                            <button data-role="grid_4" type="button"  class=" btn-grid-4" data-bs-toggle="tooltip" title="4"></button>

                            <button data-role="grid_5" type="button"  class="btn-grid-5" data-bs-toggle="tooltip" title="5"></button>

                            <button data-role="grid_list" type="button"  class="btn-list" data-bs-toggle="tooltip" title="List"></button>
                        </div>
                        <div class=" niceselect_option">

                            <form class="select_option" id="sort-form" method="get">
                                <select name="sort" id="short">
                                    <option value="">Default sorting</option>
                                    <option value="name_asc">Sort by name: A to Z</option>
                                    <option value="name_desc">Sort by name: Z to A</option>
                                    <option value="price_asc">Sort by price: low to high</option>
                                    <option value="price_desc">Sort by price: high to low</option>
                                    <option value="newest">Sort by newest</option>
                                    <option value="oldest">Sort by oldest</option>
                                </select>
                            </form>


                        </div>
                        <div class="page_amount">
                            <p th:text="'Showing ' + ${products.number * products.size + 1} + '–' + ${products.number * products.size + products.numberOfElements} + ' of ' + ${totalProducts} + ' results'">
                                Showing 1–9 of 21 results
                            </p>
                        </div>
                    </div>
                    <!--shop toolbar end-->

                    <div class="row shop_wrapper">
                        <!-- Dynamic products display -->
                        <div th:each="product : ${products.content}" class="col-lg-4 col-md-4 col-12">
                            <div class="single_product">
                                <div class="product_thumb">
                                    <a class="primary_img" th:href="@{'/product-details/' + ${product.id}}">
                                        <img th:if="${product.images != null and !product.images.isEmpty()}" 
                                             th:src="${product.images[0].imageName}" 
                                             th:alt="${product.ten}"
                                             style="width: 100%; height: auto; display: block;"
                                             onerror="this.src='/fe/img/product/product15.jpg'">
                                        <img th:unless="${product.images != null and !product.images.isEmpty()}" 
                                             th:src="@{/fe/img/product/product15.jpg}" 
                                             th:alt="${product.ten}"
                                             style="width: 100%; height: auto; display: block;">
                                    </a>
                                    <a class="secondary_img" th:href="@{'/product-details/' + ${product.id}}" th:if="${product.images != null and product.images.size() > 1}">
                                        <img th:src="${product.images[1].imageName}" 
                                             th:alt="${product.ten}">
                                    </a>
                                    <div class="product_action">
                                        <div class="hover_action">
                                            <a href="#"><i class="fa fa-plus"></i></a>
                                            <div class="action_button">
                                                <ul>
                                                    <li><a title="add to cart" th:href="@{/cart}"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a></li>
                                                    <li><a href="#" title="Add to Wishlist"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                                                    <li><a href="#" title="Add to Compare"><i class="fa fa-sliders" aria-hidden="true"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="quick_button">
                                        <a href="#" class="btn-quick-view" th:attr="data-product-id=${product.id}" data-bs-toggle="modal" data-bs-target="#modal_box" title="quick_view">+ quick view</a>
                                    </div>

                                    <div class="double_base" th:if="${product.khuyenMai != null and product.khuyenMai > 0}">
                                        <div class="product_sale">
                                            <span th:text="'-' + ${product.khuyenMai} + '%'">-7%</span>
                                        </div>
                                        <div class="label_product">
                                            <span>new</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="product_content grid_content">
                                    <h3><a th:href="@{'/product-details/' + ${product.id}}" th:text="${product.ten}">Product Name</a></h3>
                                    <span class="current_price" th:text="${#numbers.formatDecimal(product.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}">Price</span>
                                    <span class="old_price" th:if="${product.khuyenMai != null and product.khuyenMai > 0}" 
                                          th:text="${#numbers.formatDecimal(product.giaBan * (100 - product.khuyenMai) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}">Old Price</span>
                                </div>

                                <div class="product_content list_content">
                                    <h3><a th:href="@{'/product-details/' + ${product.id}}" th:text="${product.ten}">Product Name</a></h3>
                                    <div class="product_ratting">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="product_price">
                                        <span class="current_price" th:text="${#numbers.formatDecimal(product.giaBan, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}">Price</span>
                                        <span class="old_price" th:if="${product.khuyenMai != null and product.khuyenMai > 0}" 
                                              th:text="${#numbers.formatDecimal(product.giaBan * (100 - product.khuyenMai) / 100, 0, 'COMMA', 0, 'POINT') + ' VNĐ'}">Old Price</span>
                                    </div>
                                    <div class="product_desc">
                                        <p th:text="${product.moTa}">Product description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- No products message -->
                        <div class="col-12" th:if="${products.content.isEmpty()}">
                            <div class="text-center">
                                <p>Không tìm thấy sản phẩm nào.</p>
                            </div>
                        </div>
                    </div>

                    <div class="shop_toolbar t_bottom">
                        <div class="pagination">
                            <ul>
                                <!-- Previous page -->
                                <li th:if="${products.hasPrevious()}">
                                    <a th:href="@{/shop(page=${products.number - 1}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, categoryId=${param.categoryId}, brandId=${param.brandId}, colorId=${param.colorId}, tag=${param.tag}, search=${param.search}, sort=${param.sort})}"><<</a>
                                </li>
                                
                                <!-- Page numbers -->
                                <li th:each="pageNum : ${#numbers.sequence(0, products.totalPages - 1)}" 
                                    th:class="${pageNum == products.number} ? 'current' : ''">
                                    <a th:if="${pageNum != products.number}" 
                                       th:href="@{/shop(page=${pageNum}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, categoryId=${param.categoryId}, brandId=${param.brandId}, colorId=${param.colorId}, tag=${param.tag}, search=${param.search}, sort=${param.sort})}" 
                                       th:text="${pageNum + 1}">1</a>
                                    <span th:if="${pageNum == products.number}" th:text="${pageNum + 1}">1</span>
                                </li>
                                
                                <!-- Next page -->
                                <li th:if="${products.hasNext()}">
                                    <a th:href="@{/shop(page=${products.number + 1}, minPrice=${param.minPrice}, maxPrice=${param.maxPrice}, categoryId=${param.categoryId}, brandId=${param.brandId}, colorId=${param.colorId}, tag=${param.tag}, search=${param.search}, sort=${param.sort})}">>></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--shop toolbar end-->
                    <!--shop wrapper end-->
                </div>
            </div>
        </div>

    </div>
</div>
<!--shop  area end-->

<!--footer area start-->
<footer th:replace="~{user/fragments/footer :: footer}"></footer>
<!--footer area end-->

<!-- modal area start-->
<div class="modal fade" id="modal_box" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal_body">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12">
              <div class="modal_tab">
                <div style="text-align:center">
                  <img id="qv-image" th:src="@{/fe/img/product/product4.jpg}" alt="" style="max-width:100%;height:auto" />
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12">
              <div class="modal_right">
                <div class="modal_title mb-10">
                  <h2 id="qv-title"></h2>
                </div>
                <div class="modal_price mb-10">
                  <span class="new_price" id="qv-price"></span>
                  <span class="old_price" id="qv-old-price" style="display:none"></span>
                </div>
                <div class="modal_description mb-15">
                  <p id="qv-description"></p>
                </div>
                <div class="variants_selects">
                  <div class="variants_size">
                    <h2>size</h2>
                    <select id="qv-size" class="select_option">
                      <option value="">Chọn size</option>
                    </select>
                  </div>
                  <div class="variants_color">
                    <h2>color</h2>
                    <select id="qv-color" class="select_option">
                      <option value="">Chọn màu</option>
                    </select>
                  </div>
                  <div style="margin-top:10px">
                    <span>Tồn kho: </span><strong id="qv-stock">0</strong>
                  </div>
                  <div class="modal_add_to_cart">
                    <form action="#">
                      <input id="qv-qty" min="1" max="100" step="1" value="1" type="number">
                      <button type="button" id="qv-add">add to cart</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal area end-->

<script th:src="@{/fe/js/plugins.js}"></script>
<script th:src="@{/fe/js/main.js}"></script>
<script th:src="@{/fe/js/quick-view.js}"></script>
<script th:src="@{/fe/js/price-filter.js}"></script>
<script th:src="@{/fe/js/sort-filter.js}"></script>

<script>
$(document).ready(function() {
    console.log('jQuery ready - shop page initialized');
});
</script>

</body>

</html>