<head th:fragment="head(titleText)">
    <meta charset="utf-8">
    <title th:text="${titleText}">Trang quản trị</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta content="Minimal Admin & Dashboard Template" name="description">
    <meta content="Themesdesign" name="author">

    <script th:src="@{/assets/js/layout.js}"></script>
    <link th:href="@{/assets/css/tailwind2.css}" rel="stylesheet">
    <link th:href="@{/assets/css/custom-logo.css}" rel="stylesheet">
</head>
