<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="${pageTitle != null ? pageTitle : 'Home'}">Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/fe/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/fe/css/plugins.css}">
    <link rel="stylesheet" th:href="@{/fe/css/style.css}">
    <link rel="stylesheet" th:href="@{/fe/css/cart.css}">
    <link rel="stylesheet" th:href="@{/fe/css/price-vnd.css}">
    <link rel="stylesheet" th:href="@{/fe/css/checkout.css}">
    <link rel="stylesheet" th:href="@{/fe/css/profile.css}" th:if="${#strings.startsWith(currentPage, '/profile')}">
    
    <!-- jQuery UI for slider -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/ui-lightness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
</head>