<header th:fragment="header" class="header_area">
    <!--header top start-->
    <div class="header_top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12">
                    <div class="welcome_text">
                        <ul>
                            <li>Free shipping on orders over 100,000 VND</li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="top_right text-right">
                        <ul>
                            <li class="language" th:if="${isAuthenticated}">
                                <a href="#">Account<i class="ion-chevron-down"></i></a>
                                <ul class="dropdown_language">
                                    <li><a th:href="@{/profile}">Thông tin cá nhân</a></li>
                                    <li><a th:href="@{/orders}">Đơn hàng của tôi</a></li>
                                    <li><a th:href="@{/logout}">Đăng xuất</a></li>
                                </ul>
                            </li>
                            <li class="top_links" th:if="!${isAuthenticated}">
                                <a th:href="@{/login}">Đăng nhập</a>
                            </li>
                            <li class="language"><a href="#">Language<i class="ion-chevron-down"></i></a>
                                <ul class="dropdown_language">
                                    <li><a href="#">Vietnamese</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </li>
                            <li class="currency"><a href="#">Suport</a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header top start-->

    <!--header middel start-->
    <div class="header_middel">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-5">
                    <div class="logo">
                        <a th:href="@{/home}"><img th:src="@{/fe/img/logo/logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="search_bar">
                        <!-- Modern search interface will be inserted here by JavaScript -->
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 offset-md-6 offset-lg-0">
                    <div class="cart_area">
                        <div class="middel_links">
                            <ul th:if="!${isAuthenticated}">
                                <li><a th:href="@{/login}">Login</a></li>
                                <li>/</li>
                                <li><a th:href="@{/register}">Register</a></li>
                            </ul>
                            <ul th:if="${isAuthenticated}">
                                <li><span th:text="${username}">Xin chào, User</span></li>
                                <li>/</li>
                                <li><a th:href="@{/logout}" style="color: #ff4444;">Logout</a></li>
                            </ul>
                        </div>
                        <div class="cart_link">
                            <a th:href="@{/cart}"><i class="fa fa-shopping-basket"></i>Cart <span class="cart_count" th:if="${isAuthenticated}">0</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header middel end-->

    <!--header bottom satrt-->
    <div class="header_bottom sticky-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="header_static">
                        <div class="main_menu_inner">
                            <div class="main_menu">
                                <nav>
                                    <ul>
                                        <li th:classappend="${currentPage == '/home' or currentPage == '/'} ? 'active' : ''"><a th:href="@{/home}">Home</a></li>
                                        <li th:classappend="${currentPage == '/shop' or #strings.startsWith(currentPage, '/product-details') or currentPage == '/cart' or #strings.startsWith(currentPage, '/checkout')} ? 'active' : ''"><a th:href="@{/shop}">Shop</a></li>
                                        <li th:if="${isAuthenticated}" th:classappend="${#strings.startsWith(currentPage, '/orders')} ? 'active' : ''"><a th:href="@{/orders}">Đơn hàng</a></li>
                                        <li th:classappend="${currentPage == '/blog'} ? 'active' : ''"><a th:href="@{/blog}">Blog</a></li>
                                        <li th:classappend="${currentPage == '/about'} ? 'active' : ''"><a th:href="@{/about}">About us</a></li>
                                        <li th:classappend="${currentPage == '/contact'} ? 'active' : ''"><a th:href="@{/contact}">Contact Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>

                        <div class="contact_phone">
                            <p>Call Free Support: <a href="tel:0982172169">0982172169</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--header bottom end-->
</header>
