<head th:fragment="head">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="${pageTitle != null ? pageTitle : 'Home'}">Trang chủ</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/fe/img/favicon.ico}">
    <link rel="stylesheet" th:href="@{/fe/css/plugins.css}">
    <link rel="stylesheet" th:href="@{/fe/css/style.css}">
    <link rel="stylesheet" th:href="@{/fe/css/cart.css}">
    <link rel="stylesheet" th:href="@{/fe/css/price-vnd.css}">
    <link rel="stylesheet" th:href="@{/fe/css/checkout.css}">
    <link rel="stylesheet" th:href="@{/fe/css/profile.css}" th:if="${#strings.startsWith(currentPage, '/profile')}">
    <link rel="stylesheet" th:href="@{/fe/css/modern-search.css}">
    <link rel="stylesheet" th:href="@{/css/notifications.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    
    <!-- jQuery UI for slider -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/ui-lightness/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script th:src="@{/fe/js/modern-search.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script th:src="@{/js/websocket.js}"></script>
    
    <!-- Chatbot CSS -->
    <link rel="stylesheet" th:href="@{/css/chatbot.css}">

</head>